flows_raspberrypi.json
[{"id":"d849c921.77c2e8","type":"tab","label":"m. bedroom lights","disabled":false,"info":""},{"id":"89e91894.8010b8","type":"tab","label":"m. bedroom thermostat","disabled":false,"info":""},{"id":"afc4c7b2.0679c8","type":"tab","label":"bathroom thermostat","disabled":false,"info":""},{"id":"355c0611.8bf34a","type":"tab","label":"temperature / humidity db","disabled":false,"info":""},{"id":"ad0e465d.d91c98","type":"cluster-configurator","z":"","addresses":"{ \"addresses\": [32, 33] }","initialStates":"{ \"initial_states\": [true, true] }","interrupts":"{ \"interrupts\": [{ \"index\": 1, \"pin\": 24 }, { \"index\":2, \"pin\": 25 }] }"},{"id":"89c95f8d.4b2b5","type":"persist-store","z":"","filename":"persistance.json","interval":"5"},{"id":"ff8d7056.18954","type":"xiaomi-configurator","z":"","name":"xiaomi gateway","deviceList":[{"sid":"xxx","desc":"xxx","model":"sensor_ht"},{"sid":"158d00020285ed","desc":"master bedroom 1","model":"sensor_ht"},{"sid":"158d0001fa4efd","desc":"master bedroom 2","model":"sensor_ht"},{"sid":"158d0001fa5072","desc":"bathroom","model":"sensor_ht"},{"sid":"158d0001fa4eca","desc":"living room 1","model":"sensor_ht"},{"sid":"158d0001fa4eb8","desc":"living room 2","model":"sensor_ht"},{"sid":"158d0001fa4f40","desc":"small bedroom","model":"sensor_ht"}],"key":"35D70C3337264840"},{"id":"5e66d342.d5397c","type":"homekit-bridge","z":"","bridgeName":"bedroom switch","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number"},{"id":"f6c4f476.dcbf88","type":"homekit-bridge","z":"","bridgeName":"ts","pinCode":"222-22-222","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number"},{"id":"b675f02f.1a31b","type":"homekit-bridge","z":"","bridgeName":"hs","pinCode":"333-33-333","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number"},{"id":"5eee5525.dd518c","type":"homekit-bridge","z":"","bridgeName":"thermostat","pinCode":"444-44-444","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number"},{"id":"3e50d606.6ae63a","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"galaxy137","name":"mongodb_galaxy137"},{"id":"47637013.c1302","type":"homekit-bridge","z":"","bridgeName":"bathroom hs","pinCode":"555-55-555","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number"},{"id":"dff86336.d2df9","type":"homekit-bridge","z":"","bridgeName":"bathroom ts","pinCode":"666-66-666","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number"},{"id":"62588dda.be5224","type":"homekit-bridge","z":"","bridgeName":"bathroom termostat","pinCode":"777-77-777","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number"},{"id":"b34dc7d5.c2ded8","type":"homekit-bridge","z":"","bridgeName":"light bulb","pinCode":"888-88-888","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number"},{"id":"aefbc855.b5cdf8","type":"cluster-in","z":"d849c921.77c2e8","cluster":"ad0e465d.d91c98","name":"cluster in 10","pin":"10","inverted":true,"x":90,"y":80,"wires":[["e6701f64.dd1b6"]]},{"id":"4e649507.9c58dc","type":"cluster-in","z":"d849c921.77c2e8","cluster":"ad0e465d.d91c98","name":"cluster in 3","pin":"3","inverted":true,"x":80,"y":140,"wires":[["e6701f64.dd1b6"]]},{"id":"e6701f64.dd1b6","type":"pin-value","z":"d849c921.77c2e8","cluster":"ad0e465d.d91c98","name":"pin value 1","pin":"1","x":250,"y":100,"wires":[["98d169e0.455a28"]]},{"id":"e7a3a659.0d1788","type":"cluster-out","z":"d849c921.77c2e8","cluster":"ad0e465d.d91c98","name":"cluster out 1","pin":"1","inverted":true,"initialValue":false,"x":830,"y":100,"wires":[]},{"id":"784dc43e.deb64c","type":"debug","z":"d849c921.77c2e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":200,"wires":[]},{"id":"98d169e0.455a28","type":"function","z":"d849c921.77c2e8","name":"reverse","func":"msg.payload.value = !msg.payload.pin_value;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":100,"wires":[["dbe36bd3.9f1438","f0bbbbeb.ec0c38"]]},{"id":"dbe36bd3.9f1438","type":"persist in","z":"d849c921.77c2e8","name":"dd1","storageNode":"89c95f8d.4b2b5","x":830,"y":280,"wires":[]},{"id":"f0bbbbeb.ec0c38","type":"persist out","z":"d849c921.77c2e8","name":"dd1","storageNode":"89c95f8d.4b2b5","x":590,"y":100,"wires":[["e7a3a659.0d1788","784dc43e.deb64c","20793e8f.93ec22"]]},{"id":"b0e7f986.2e0528","type":"homekit-service","z":"d849c921.77c2e8","bridge":"5e66d342.d5397c","name":"BedroomSwitch","serviceName":"Switch","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":280,"y":280,"wires":[["cb0eb39f.9f467"]]},{"id":"20793e8f.93ec22","type":"function","z":"d849c921.77c2e8","name":"set status","func":"let _msg = {\n    payload: {\n        On: msg.payload.value\n    }\n}\nreturn _msg;","outputs":1,"noerr":0,"x":114,"y":280,"wires":[["b0e7f986.2e0528"]]},{"id":"cb0eb39f.9f467","type":"function","z":"d849c921.77c2e8","name":"","func":"msg.payload.value = msg.payload.On;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["e7a3a659.0d1788","dbe36bd3.9f1438"]]},{"id":"1a86db31.3ba5a5","type":"homekit-service","z":"89e91894.8010b8","bridge":"f6c4f476.dcbf88","name":"bedroom ts","serviceName":"TemperatureSensor","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":410,"y":180,"wires":[[]]},{"id":"9182d093.1a858","type":"function","z":"89e91894.8010b8","name":"prepare for homekit","func":"let _msg = {\n    payload: {\n        CurrentTemperature: msg.payload.temperature,\n        StatusActive: true\n    }\n};\n\nreturn _msg;","outputs":1,"noerr":0,"x":150,"y":180,"wires":[["1a86db31.3ba5a5"]]},{"id":"db10e913.25c8b8","type":"homekit-service","z":"89e91894.8010b8","bridge":"b675f02f.1a31b","name":"bedroom hs","serviceName":"HumiditySensor","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":770,"y":540,"wires":[[]]},{"id":"47edffa8.e637a","type":"function","z":"89e91894.8010b8","name":"preapre for homekit","func":"let _msg = {\n    payload: {\n        CurrentRelativeHumidity: msg.payload.humidity,\n        StatusActive: true\n    }\n};\n\nreturn _msg;","outputs":1,"noerr":0,"x":590,"y":540,"wires":[["db10e913.25c8b8"]]},{"id":"4aff4826.c814d8","type":"homekit-service","z":"89e91894.8010b8","bridge":"5eee5525.dd518c","name":"thermostat","serviceName":"Thermostat","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":410,"y":240,"wires":[["537cb172.d43eb","1b2cf9.9b0ea307"]]},{"id":"841143d7.d3f04","type":"function","z":"89e91894.8010b8","name":"prepare for homekit","func":"let _msg = {\n    payload: {\n        CurrentTemperature: msg.payload.temperature\n    }\n};\n\nreturn _msg;","outputs":1,"noerr":0,"x":150,"y":240,"wires":[["4aff4826.c814d8","4ae0dcbb.683da4"]]},{"id":"ad740768.4dbd58","type":"inject","z":"89e91894.8010b8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":80,"wires":[["58e9f24c.f272dc","d53e2c55.12435"]]},{"id":"2b863378.6f3cac","type":"inject","z":"89e91894.8010b8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":500,"wires":[["28205b37.9255d4","3545d667.963a0a"]]},{"id":"98658ace.b96a18","type":"mongodb out","z":"89e91894.8010b8","mongodb":"3e50d606.6ae63a","name":"thermostats","collection":"thermostats","payonly":true,"upsert":true,"multi":false,"operation":"update","x":730,"y":240,"wires":[]},{"id":"537cb172.d43eb","type":"function","z":"89e91894.8010b8","name":"update query","func":"msg.query = {_id : \"5b159ee154cf645829b8562a\"};\nmsg.payload.location = \"master_bedroom\";\n\nlet payload = msg.payload;\n\nmsg.payload = { $set: payload }\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["98658ace.b96a18"]]},{"id":"7bc31606.0694b8","type":"mongodb in","z":"89e91894.8010b8","mongodb":"3e50d606.6ae63a","name":"thermostats","collection":"thermostats","operation":"find","x":130,"y":320,"wires":[["88df34de.a04088"]]},{"id":"4ae0dcbb.683da4","type":"function","z":"89e91894.8010b8","name":"query to get thermostat","func":"let query = {\n    payload: {\n        location: \"master_bedroom\"\n    }\n};\n\nreturn query;","outputs":1,"noerr":0,"x":170,"y":280,"wires":[["7bc31606.0694b8"]],"outputLabels":["1","2"]},{"id":"9269beef.263a9","type":"join","z":"89e91894.8010b8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":320,"wires":[["c493d68f.413918"]]},{"id":"88df34de.a04088","type":"function","z":"89e91894.8010b8","name":"get obj","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":320,"wires":[["9269beef.263a9"]]},{"id":"c493d68f.413918","type":"function","z":"89e91894.8010b8","name":"prepare for homekit","func":"let p = msg.payload;\n\nif (p.TargetHeatingCoolingState === 0) {//off\n    msg.payload.CurrentHeatingCoolingState = 0;\n    \n    return msg;\n} else if (p.TargetHeatingCoolingState === 1) {//heat\n    if (p.TargetTemperature <= p.temperature) {\n        msg.payload.CurrentHeatingCoolingState = 0;\n    } else if (p.TargetTemperature > p.temperature) {\n        msg.payload.CurrentHeatingCoolingState = 1;\n    }\n//for cooling or auto turn off because there is no air cond in bedroom\n} else {\n    msg.payload.CurrentHeatingCoolingState = 0;\n    msg.payload.TargetHeatingCoolingState = 0;\n    \n    return msg;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["42423841.a4a6b8"]]},{"id":"cb280eab.98d76","type":"cluster-out","z":"89e91894.8010b8","cluster":"ad0e465d.d91c98","name":"cluster out 9","pin":"9","inverted":true,"initialValue":false,"x":730,"y":400,"wires":[]},{"id":"db0f65e5.9ce5e8","type":"function","z":"89e91894.8010b8","name":"on/off relay","func":"if (msg.payload.CurrentHeatingCoolingState === 0) {\n    msg.payload.value = false;\n} else if (msg.payload.CurrentHeatingCoolingState === 1) {\n    msg.payload.value = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":360,"wires":[["cb280eab.98d76"]]},{"id":"e71991cb.95e76","type":"udp in","z":"355c0611.8bf34a","name":"xiaomi gateway","iface":"","port":"9898","ipv":"udp4","multicast":"true","group":"224.0.0.50","datatype":"utf8","x":100,"y":40,"wires":[["7258f85a.4809e8"]]},{"id":"c710f1db.8f954","type":"xiaomi-ht","z":"355c0611.8bf34a","gateway":"ff8d7056.18954","name":"master bedroom 1","sid":"158d00020285ed","temperature":"{{temperature}}","humidity":"{{humidity}}","divide":true,"output":"0","x":330,"y":40,"wires":[["135a8d37.fb1013"],[]]},{"id":"f9fa7bd7.b12038","type":"function","z":"355c0611.8bf34a","name":"prepare data","func":"let data = {};\n\nif (msg.payload.data) {\n    data = JSON.parse(msg.payload.data);\n    delete msg.payload.data;\n}\n\nObject.keys(data).forEach(key => {\n    if (key == \"temperature\") {\n        msg.payload[key] = data[key] / 100;\n    } else if (key == \"humidity\") {\n        msg.payload[key] = data[key] / 100;\n    } else {\n        msg.payload[key] = data[key];\n    }\n});\n\nif (msg.payload.cmd == \"heartbeat\") {\n    msg.payload.type = \"heartbeat\";\n} else if (msg.payload.cmd == \"report\") {\n    if (msg.payload.hasOwnProperty(\"temperature\")) {\n        msg.payload.type = \"temperature\";\n    } else if (msg.payload.hasOwnProperty(\"humidity\")) {\n        msg.payload.type = \"humidity\";\n    } \n}\n\nmsg.payload.date_created = new Date();\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":200,"wires":[["ddcbd293.a8fb1"]]},{"id":"c6d87cd1.aa8a7","type":"xiaomi-ht","z":"355c0611.8bf34a","gateway":"ff8d7056.18954","name":"master bedroom 2","sid":"158d0001fa4efd","temperature":"{{temperature}}","humidity":"{{humidity}}","divide":true,"output":"0","x":330,"y":100,"wires":[["135a8d37.fb1013"],[]]},{"id":"7258f85a.4809e8","type":"json","z":"355c0611.8bf34a","name":"","property":"payload","action":"","pretty":false,"x":110,"y":180,"wires":[["c6d87cd1.aa8a7","c710f1db.8f954","8207004.20a16","d4651bb8.1ba018","d29d3b5c.947e28","14f12233.27f5ae"]]},{"id":"ddcbd293.a8fb1","type":"mongodb out","z":"355c0611.8bf34a","mongodb":"3e50d606.6ae63a","name":"temperature_humidity","collection":"temperature_humidity","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":800,"y":260,"wires":[]},{"id":"135a8d37.fb1013","type":"function","z":"355c0611.8bf34a","name":"specify location","func":"msg.payload.location = \"master_bedroom\";\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":60,"wires":[["f9fa7bd7.b12038"]]},{"id":"8207004.20a16","type":"xiaomi-ht","z":"355c0611.8bf34a","gateway":"ff8d7056.18954","name":"bathroom","sid":"158d0001fa5072","temperature":"{{temperature}}","humidity":"{{humidity}}","divide":true,"output":"0","x":300,"y":160,"wires":[["5e371e9a.6675e"],[]]},{"id":"5e371e9a.6675e","type":"function","z":"355c0611.8bf34a","name":"specify location","func":"msg.payload.location = \"bathroom\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":160,"wires":[["f9fa7bd7.b12038"]]},{"id":"d4651bb8.1ba018","type":"xiaomi-ht","z":"355c0611.8bf34a","gateway":"ff8d7056.18954","name":"living room 1","sid":"158d0001fa4eca","temperature":"{{temperature}}","humidity":"{{humidity}}","divide":true,"output":"0","x":310,"y":220,"wires":[["2d4a0993.076ea6"],[]]},{"id":"d29d3b5c.947e28","type":"xiaomi-ht","z":"355c0611.8bf34a","gateway":"ff8d7056.18954","name":"living room 2","sid":"158d0001fa4eb8","temperature":"{{temperature}}","humidity":"{{humidity}}","divide":true,"output":"0","x":310,"y":280,"wires":[["2d4a0993.076ea6"],[]]},{"id":"14f12233.27f5ae","type":"xiaomi-ht","z":"355c0611.8bf34a","gateway":"ff8d7056.18954","name":"small bedroom","sid":"158d0001fa4f40","temperature":"{{temperature}}","humidity":"{{humidity}}","divide":true,"output":"0","x":320,"y":340,"wires":[["51829802.0413a8"],[]]},{"id":"2d4a0993.076ea6","type":"function","z":"355c0611.8bf34a","name":"specify location","func":"msg.payload.location = \"living_room\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":240,"wires":[["f9fa7bd7.b12038"]]},{"id":"51829802.0413a8","type":"function","z":"355c0611.8bf34a","name":"specify location","func":"msg.payload.location = \"small_bedroom\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":340,"wires":[["f9fa7bd7.b12038"]]},{"id":"1b2cf9.9b0ea307","type":"delay","z":"89e91894.8010b8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":180,"wires":[["d53e2c55.12435","58e9f24c.f272dc"]]},{"id":"42423841.a4a6b8","type":"function","z":"89e91894.8010b8","name":"clean","func":"delete msg.payload.location;\ndelete msg.payload._id;\ndelete msg.payload.temperature;\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":320,"wires":[["4aff4826.c814d8","db0f65e5.9ce5e8"]]},{"id":"307c95f.dd21f6a","type":"inject","z":"89e91894.8010b8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"14400","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":620,"wires":[["86d51cd9.ba172"]]},{"id":"86d51cd9.ba172","type":"function","z":"89e91894.8010b8","name":"query","func":"msg.payload = {\n    \"location\":\"master_bedroom\",\n    \"type\":\"heartbeat\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":620,"wires":[["f3bce4d9.0cd708"]]},{"id":"f3bce4d9.0cd708","type":"mongodb in","z":"89e91894.8010b8","mongodb":"3e50d606.6ae63a","name":"temperature_humidity","collection":"temperature_humidity","operation":"find","x":400,"y":620,"wires":[["ba57edcd.bbd29"]]},{"id":"ba57edcd.bbd29","type":"function","z":"89e91894.8010b8","name":"voltage check","func":"let heartbeat = msg.payload[0];\nlet _msg = { \n    payload: {\n        StatusLowBattery: false\n    } \n};\n\nif (heartbeat && heartbeat.voltage) {\n    if (heartbeat.voltage < 2450) {\n        _msg.payload.StatusLowBattery = true;\n    }\n}\n\nreturn _msg;","outputs":1,"noerr":0,"x":600,"y":620,"wires":[["db10e913.25c8b8","1a86db31.3ba5a5"]]},{"id":"88d0eeda.a2384","type":"homekit-service","z":"afc4c7b2.0679c8","bridge":"dff86336.d2df9","name":"bathroom ts","serviceName":"TemperatureSensor","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":410,"y":120,"wires":[[]]},{"id":"4ada9613.c23ea8","type":"function","z":"afc4c7b2.0679c8","name":"prepare for homekit","func":"let _msg = {\n    payload: {\n        CurrentTemperature: msg.payload.temperature,\n        StatusActive: true\n    }\n};\n\nreturn _msg;","outputs":1,"noerr":0,"x":150,"y":120,"wires":[["88d0eeda.a2384"]]},{"id":"38a8f8ce.b9dc98","type":"homekit-service","z":"afc4c7b2.0679c8","bridge":"47637013.c1302","name":"bathroom hs","serviceName":"HumiditySensor","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":330,"y":480,"wires":[[]]},{"id":"18f5ba9c.965e45","type":"function","z":"afc4c7b2.0679c8","name":"preapre for homekit","func":"let _msg = {\n    payload: {\n        CurrentRelativeHumidity: msg.payload.humidity,\n        StatusActive: true\n    }\n};\n\nreturn _msg;","outputs":1,"noerr":0,"x":150,"y":480,"wires":[["38a8f8ce.b9dc98"]]},{"id":"be9d93b9.0b77b","type":"homekit-service","z":"afc4c7b2.0679c8","bridge":"62588dda.be5224","name":"thermostat","serviceName":"Thermostat","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":410,"y":180,"wires":[["bd591fc8.9bf52","204af5c9.d2a54a"]]},{"id":"858c2638.a6bb68","type":"function","z":"afc4c7b2.0679c8","name":"prepare for homekit","func":"let _msg = {\n    payload: {\n        CurrentTemperature: msg.payload.temperature\n    }\n};\n\nreturn _msg;","outputs":1,"noerr":0,"x":150,"y":180,"wires":[["be9d93b9.0b77b","679ff021.944d1"]]},{"id":"cb1011ea.68a1f","type":"inject","z":"afc4c7b2.0679c8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":60,"wires":[["7a9974b4.cc595c"]]},{"id":"28dfbcba.197644","type":"mongodb in","z":"afc4c7b2.0679c8","mongodb":"3e50d606.6ae63a","name":"temperature","collection":"temperature_humidity","operation":"find","x":390,"y":60,"wires":[["97499556.84df38"]]},{"id":"7a9974b4.cc595c","type":"function","z":"afc4c7b2.0679c8","name":"query","func":"msg.payload = {\n    \"location\":\"bathroom\",\n    \"type\":\"temperature\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":60,"wires":[["28dfbcba.197644"]]},{"id":"97499556.84df38","type":"function","z":"afc4c7b2.0679c8","name":"average temperature","func":"let items = msg.payload;\nlet count = items.length;\nlet sum = 0;\nlet average = 0;\nlet _msg = { };\n\nitems.forEach(item => {\n    sum += item.temperature;\n});\n\naverage = sum / count;\n\n_msg.payload = { temperature: Math.round(average) };\n\nreturn _msg;","outputs":1,"noerr":0,"x":580,"y":60,"wires":[["4ada9613.c23ea8","858c2638.a6bb68","40035022.af3fe"]]},{"id":"805f16c6.b43298","type":"inject","z":"afc4c7b2.0679c8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":420,"wires":[["c682425a.880a3"]]},{"id":"99e95a9f.6b1db8","type":"mongodb in","z":"afc4c7b2.0679c8","mongodb":"3e50d606.6ae63a","name":"humidity","collection":"temperature_humidity","operation":"find","x":360,"y":420,"wires":[["14ef968.b4ba76a"]]},{"id":"c682425a.880a3","type":"function","z":"afc4c7b2.0679c8","name":"query","func":"msg.payload = {\n    \"location\":\"bathroom\",\n    \"type\":\"humidity\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":420,"wires":[["99e95a9f.6b1db8"]]},{"id":"14ef968.b4ba76a","type":"function","z":"afc4c7b2.0679c8","name":"average humidity","func":"let items = msg.payload;\nlet count = items.length;\nlet sum = 0;\nlet average = 0;\nlet _msg = { };\n\nitems.forEach(item => {\n    sum += item.humidity;\n});\n\naverage = sum / count;\n\n_msg.payload = { humidity: Math.round(average) };\n\nreturn _msg;","outputs":1,"noerr":0,"x":530,"y":420,"wires":[["18f5ba9c.965e45"]]},{"id":"5ac9adbf.d28664","type":"mongodb out","z":"afc4c7b2.0679c8","mongodb":"3e50d606.6ae63a","name":"thermostats","collection":"thermostats","payonly":true,"upsert":true,"multi":false,"operation":"update","x":730,"y":180,"wires":[]},{"id":"bd591fc8.9bf52","type":"function","z":"afc4c7b2.0679c8","name":"update query","func":"msg.query = {_id : \"5b16d60a54cf645829b8562b\"};\nmsg.payload.location = \"bathroom\";\n\nlet payload = msg.payload;\n\nmsg.payload = { $set: payload }\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":180,"wires":[["5ac9adbf.d28664"]]},{"id":"54626e1f.f6e7","type":"mongodb in","z":"afc4c7b2.0679c8","mongodb":"3e50d606.6ae63a","name":"thermostats","collection":"thermostats","operation":"find","x":130,"y":260,"wires":[["5a2732fe.e8886c"]]},{"id":"679ff021.944d1","type":"function","z":"afc4c7b2.0679c8","name":"query to get thermostat","func":"let query = {\n    payload: {\n        location: \"bathroom\"\n    }\n};\n\nreturn query;","outputs":1,"noerr":0,"x":170,"y":220,"wires":[["54626e1f.f6e7"]],"outputLabels":["1"]},{"id":"40035022.af3fe","type":"join","z":"afc4c7b2.0679c8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":260,"wires":[["8a33011e.ee175"]]},{"id":"5a2732fe.e8886c","type":"function","z":"afc4c7b2.0679c8","name":"","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":260,"wires":[["40035022.af3fe"]]},{"id":"8a33011e.ee175","type":"function","z":"afc4c7b2.0679c8","name":"prepare for homekit","func":"let p = msg.payload;\n\nif (p.TargetHeatingCoolingState === 0) {//off\n    msg.payload.CurrentHeatingCoolingState = 0;\n    \n    return msg;\n} else if (p.TargetHeatingCoolingState === 1) {//heat\n    if (p.TargetTemperature <= p.temperature) {\n        msg.payload.CurrentHeatingCoolingState = 0;\n    } else if (p.TargetTemperature > p.temperature) {\n        msg.payload.CurrentHeatingCoolingState = 1;\n    }\n//for cooling or auto turn off because there is no air cond in bedroom\n} else {\n    msg.payload.CurrentHeatingCoolingState = 0;\n    msg.payload.TargetHeatingCoolingState = 0;\n    \n    return msg;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":260,"wires":[["813c9699.564008"]]},{"id":"46501e31.d461e","type":"cluster-out","z":"afc4c7b2.0679c8","cluster":"ad0e465d.d91c98","name":"cluster out 9","pin":"9","inverted":true,"initialValue":false,"x":790,"y":340,"wires":[]},{"id":"64f6a14a.d8a48","type":"function","z":"afc4c7b2.0679c8","name":"on/off relay","func":"if (msg.payload.CurrentHeatingCoolingState === 0) {\n    msg.payload.value = false;\n} else if (msg.payload.CurrentHeatingCoolingState === 1) {\n    msg.payload.value = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":300,"wires":[["46501e31.d461e"]]},{"id":"204af5c9.d2a54a","type":"delay","z":"afc4c7b2.0679c8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":120,"wires":[["7a9974b4.cc595c"]]},{"id":"813c9699.564008","type":"function","z":"afc4c7b2.0679c8","name":"clean","func":"delete msg.payload.location;\ndelete msg.payload._id;\ndelete msg.payload.temperature;\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":260,"wires":[["be9d93b9.0b77b"]]},{"id":"f91266d2.2be658","type":"inject","z":"afc4c7b2.0679c8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"14400","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":600,"wires":[["9201e42e.b46c98"]]},{"id":"9201e42e.b46c98","type":"function","z":"afc4c7b2.0679c8","name":"query","func":"msg.payload = {\n    \"location\":\"bathroom\",\n    \"type\":\"heartbeat\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":600,"wires":[["68ab3499.f3541c"]]},{"id":"68ab3499.f3541c","type":"mongodb in","z":"afc4c7b2.0679c8","mongodb":"3e50d606.6ae63a","name":"temperature_humidity","collection":"temperature_humidity","operation":"find","x":400,"y":600,"wires":[["15546781.5b6ef8"]]},{"id":"15546781.5b6ef8","type":"function","z":"afc4c7b2.0679c8","name":"voltage check","func":"let heartbeat = msg.payload[0];\nlet _msg = { \n    payload: {\n        StatusLowBattery: false\n    } \n};\n\nif (heartbeat && heartbeat.voltage) {\n    if (heartbeat.voltage < 2450) {\n        _msg.payload.StatusLowBattery = true;\n    }\n}\n\nreturn _msg;","outputs":1,"noerr":0,"x":600,"y":600,"wires":[["38a8f8ce.b9dc98","88d0eeda.a2384"]]},{"id":"6a417a18.8ba1b4","type":"homekit-service","z":"d849c921.77c2e8","bridge":"b34dc7d5.c2ded8","name":"light bulb","serviceName":"Lightbulb","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":200,"y":420,"wires":[[]]},{"id":"1b7917fb.3efec8","type":"mongodb in","z":"89e91894.8010b8","mongodb":"3e50d606.6ae63a","name":"humidity","collection":"temperature_humidity","operation":"find","x":400,"y":480,"wires":[["f8b853c7.32123"]]},{"id":"28205b37.9255d4","type":"function","z":"89e91894.8010b8","name":"query","func":"msg.payload = {\n    \"location\":\"master_bedroom\",\n    \"type\":\"humidity\",\n    \"sid\": \"158d00020285ed\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":480,"wires":[["1b7917fb.3efec8"]]},{"id":"f8b853c7.32123","type":"join","z":"89e91894.8010b8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":550,"y":480,"wires":[["44d4076.3719ef8"]]},{"id":"7c5faed6.5f10e","type":"mongodb in","z":"89e91894.8010b8","mongodb":"3e50d606.6ae63a","name":"humidity","collection":"temperature_humidity","operation":"find","x":400,"y":540,"wires":[["f8b853c7.32123"]]},{"id":"3545d667.963a0a","type":"function","z":"89e91894.8010b8","name":"query","func":"msg.payload = {\n    \"location\":\"master_bedroom\",\n    \"type\":\"humidity\",\n    \"sid\": \"158d0001fa4efd\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":540,"wires":[["7c5faed6.5f10e"]]},{"id":"44d4076.3719ef8","type":"function","z":"89e91894.8010b8","name":"average humidity","func":"let items = msg.payload;\nlet count = 0;\nlet sum = 0;\nlet average = 0;\nlet _msg = { };\n\nitems.forEach(item => {\n    if (item[0]) {\n        sum += item[0].humidity;\n        count++;\n    }\n});\n\naverage = sum / count;\n\n_msg.payload = { humidity: Math.round(average) };\n\nreturn _msg;","outputs":1,"noerr":0,"x":710,"y":480,"wires":[["47edffa8.e637a"]]},{"id":"36d9e81f.995368","type":"mongodb in","z":"89e91894.8010b8","mongodb":"3e50d606.6ae63a","name":"temperature","collection":"temperature_humidity","operation":"find","x":450,"y":60,"wires":[["ae0dfb4e.4ba718"]]},{"id":"58e9f24c.f272dc","type":"function","z":"89e91894.8010b8","name":"query","func":"msg.payload = {\n    \"location\":\"master_bedroom\",\n    \"type\":\"temperature\",\n    \"sid\": \"158d00020285ed\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":60,"wires":[["36d9e81f.995368"]]},{"id":"ae0dfb4e.4ba718","type":"join","z":"89e91894.8010b8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":80,"wires":[["1c9e6d17.147e63"]]},{"id":"4e38bfed.5e5c3","type":"mongodb in","z":"89e91894.8010b8","mongodb":"3e50d606.6ae63a","name":"temperature","collection":"temperature_humidity","operation":"find","x":450,"y":100,"wires":[["ae0dfb4e.4ba718"]]},{"id":"d53e2c55.12435","type":"function","z":"89e91894.8010b8","name":"query","func":"msg.payload = {\n    \"location\":\"master_bedroom\",\n    \"type\":\"temperature\",\n    \"sid\": \"158d0001fa4efd\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":100,"wires":[["4e38bfed.5e5c3"]]},{"id":"1c9e6d17.147e63","type":"function","z":"89e91894.8010b8","name":"average temperature","func":"let items = msg.payload;\nlet count = 0;\nlet sum = 0;\nlet average = 0;\nlet _msg = { };\n\nitems.forEach(item => {\n    if (item[0]) {\n        sum += item[0].temperature;\n        count++;\n    }\n});\n\naverage = sum / count;\n\n_msg.payload = { temperature: Math.round(average) };\n\nreturn _msg;","outputs":1,"noerr":0,"x":160,"y":140,"wires":[["9269beef.263a9","9182d093.1a858","841143d7.d3f04"]]}]