flows_raspberrypi.json
[{"id":"2d9d96ac.d60bea","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d849c921.77c2e8","type":"tab","label":"m. bedroom lights","disabled":true,"info":""},{"id":"573db85e.151878","type":"tab","label":"button lights","disabled":true,"info":""},{"id":"55caa052.a86e","type":"tab","label":"living room thermostat","disabled":true,"info":""},{"id":"89e91894.8010b8","type":"tab","label":"m. bedroom thermostat","disabled":true,"info":""},{"id":"bb520db.79bd3f","type":"tab","label":"s. bedroom thermostat","disabled":true,"info":""},{"id":"afc4c7b2.0679c8","type":"tab","label":"bathroom thermostat","disabled":true,"info":""},{"id":"355c0611.8bf34a","type":"tab","label":"temperature / humidity db","disabled":true,"info":""},{"id":"ad0e465d.d91c98","type":"cluster-configurator","z":"","addresses":"{ \"addresses\": [32, 33, 34, 35, 36, 37, 38, 39] }","initialStates":"{ \"initial_states\": [false, false, false, false, false, false, false, false] }","interrupts":"{ \"interrupts\": [{ \"index\": 1, \"pin\": 17 }, { \"index\": 2, \"pin\": 17 }, { \"index\": 3, \"pin\": 17 }, { \"index\": 4, \"pin\": 17 }] }"},{"id":"89c95f8d.4b2b5","type":"persist-store","z":"","filename":"persistance.json","interval":"5"},{"id":"ff8d7056.18954","type":"xiaomi-configurator","z":"","name":"xiaomi gateway","deviceList":[{"sid":"xxx","desc":"xxx","model":"sensor_ht"},{"sid":"158d00020285ed","desc":"master bedroom 1","model":"sensor_ht"},{"sid":"158d0001fa4efd","desc":"master bedroom 2","model":"sensor_ht"},{"sid":"158d0001fa5072","desc":"bathroom","model":"sensor_ht"},{"sid":"158d0001fa4eca","desc":"living room 1","model":"sensor_ht"},{"sid":"158d0001fa4eb8","desc":"living room 2","model":"sensor_ht"},{"sid":"158d0001fa4f40","desc":"small bedroom","model":"sensor_ht"},{"sid":"158d0001a9789e","desc":"master bedroom","model":"motion"}],"key":"35D70C3337264840"},{"id":"3e50d606.6ae63a","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"galaxy137","name":"mongodb_galaxy137"},{"id":"2b0fb48b.759e5c","type":"homekit-bridge","z":"","bridgeName":"hub","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number"},{"id":"aefbc855.b5cdf8","type":"cluster-in","z":"d849c921.77c2e8","cluster":"ad0e465d.d91c98","name":"cluster in 10","pin":"10","inverted":true,"x":90,"y":80,"wires":[["e6701f64.dd1b6"]]},{"id":"4e649507.9c58dc","type":"cluster-in","z":"d849c921.77c2e8","cluster":"ad0e465d.d91c98","name":"cluster in 3","pin":"3","inverted":true,"x":80,"y":140,"wires":[["e6701f64.dd1b6"]]},{"id":"e6701f64.dd1b6","type":"pin-value","z":"d849c921.77c2e8","cluster":"ad0e465d.d91c98","name":"pin value 1","pin":"1","x":250,"y":100,"wires":[["98d169e0.455a28"]]},{"id":"e7a3a659.0d1788","type":"cluster-out","z":"d849c921.77c2e8","cluster":"ad0e465d.d91c98","name":"cluster out 1","pin":"1","inverted":true,"initialValue":false,"x":830,"y":100,"wires":[]},{"id":"784dc43e.deb64c","type":"debug","z":"d849c921.77c2e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":200,"wires":[]},{"id":"98d169e0.455a28","type":"function","z":"d849c921.77c2e8","name":"reverse","func":"msg.payload.value = !msg.payload.pin_value;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":100,"wires":[["dbe36bd3.9f1438","f0bbbbeb.ec0c38"]]},{"id":"dbe36bd3.9f1438","type":"persist in","z":"d849c921.77c2e8","name":"dd1","storageNode":"89c95f8d.4b2b5","x":830,"y":280,"wires":[]},{"id":"f0bbbbeb.ec0c38","type":"persist out","z":"d849c921.77c2e8","name":"dd1","storageNode":"89c95f8d.4b2b5","x":570,"y":40,"wires":[["e7a3a659.0d1788","784dc43e.deb64c","20793e8f.93ec22"]]},{"id":"b0e7f986.2e0528","type":"homekit-service","z":"d849c921.77c2e8","bridge":"2b0fb48b.759e5c","name":"Lightbulb","serviceName":"Lightbulb","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":260,"y":280,"wires":[["cb0eb39f.9f467"]]},{"id":"20793e8f.93ec22","type":"function","z":"d849c921.77c2e8","name":"set status","func":"let _msg = {\n    payload: {\n        On: msg.payload.value\n    }\n}\nreturn _msg;","outputs":1,"noerr":0,"x":114,"y":280,"wires":[["b0e7f986.2e0528"]]},{"id":"cb0eb39f.9f467","type":"function","z":"d849c921.77c2e8","name":"","func":"msg.payload.value = msg.payload.On;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["e7a3a659.0d1788","dbe36bd3.9f1438"]]},{"id":"1a86db31.3ba5a5","type":"homekit-service","z":"89e91894.8010b8","bridge":"2b0fb48b.759e5c","name":"Temperature","serviceName":"TemperatureSensor","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":410,"y":160,"wires":[[]]},{"id":"9182d093.1a858","type":"function","z":"89e91894.8010b8","name":"prepare for homekit","func":"let _msg = {\n    payload: {\n        CurrentTemperature: msg.payload.temperature\n    }\n};\n\nreturn _msg;","outputs":1,"noerr":0,"x":150,"y":160,"wires":[["1a86db31.3ba5a5","4aff4826.c814d8","4ae0dcbb.683da4"]]},{"id":"db10e913.25c8b8","type":"homekit-service","z":"89e91894.8010b8","bridge":"2b0fb48b.759e5c","name":"Humidity","serviceName":"HumiditySensor","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":800,"y":560,"wires":[[]]},{"id":"47edffa8.e637a","type":"function","z":"89e91894.8010b8","name":"preapre for homekit","func":"let _msg = {\n    payload: {\n        CurrentRelativeHumidity: msg.payload.humidity\n    }\n};\n\nreturn _msg;","outputs":1,"noerr":0,"x":610,"y":560,"wires":[["db10e913.25c8b8"]]},{"id":"4aff4826.c814d8","type":"homekit-service","z":"89e91894.8010b8","bridge":"2b0fb48b.759e5c","name":"Thermostat","serviceName":"Thermostat","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":410,"y":220,"wires":[["537cb172.d43eb","5f20f9f6.cedaf8"]]},{"id":"ad740768.4dbd58","type":"inject","z":"89e91894.8010b8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":80,"wires":[["58e9f24c.f272dc","d53e2c55.12435"]]},{"id":"2b863378.6f3cac","type":"inject","z":"89e91894.8010b8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":520,"wires":[["28205b37.9255d4","3545d667.963a0a"]]},{"id":"98658ace.b96a18","type":"mongodb out","z":"89e91894.8010b8","mongodb":"3e50d606.6ae63a","name":"thermostats","collection":"thermostats","payonly":true,"upsert":true,"multi":false,"operation":"update","x":750,"y":260,"wires":[]},{"id":"537cb172.d43eb","type":"function","z":"89e91894.8010b8","name":"update query","func":"msg.query = {_id : \"5b159ee154cf645829b8562a\"};\nmsg.payload.location = \"master_bedroom\";\n\nlet payload = msg.payload;\n\nmsg.payload = { $set: payload }\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":260,"wires":[["98658ace.b96a18"]]},{"id":"7bc31606.0694b8","type":"mongodb in","z":"89e91894.8010b8","mongodb":"3e50d606.6ae63a","name":"thermostats","collection":"thermostats","operation":"find","x":130,"y":320,"wires":[["88df34de.a04088"]]},{"id":"4ae0dcbb.683da4","type":"function","z":"89e91894.8010b8","name":"query to get thermostat","func":"let query = {\n    payload: {\n        location: \"master_bedroom\"\n    }\n};\n\nreturn query;","outputs":1,"noerr":0,"x":170,"y":280,"wires":[["7bc31606.0694b8"]],"outputLabels":["1","2"]},{"id":"88df34de.a04088","type":"function","z":"89e91894.8010b8","name":"shift","func":"msg.payload = msg.payload.shift();\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":320,"wires":[["c493d68f.413918"]]},{"id":"c493d68f.413918","type":"function","z":"89e91894.8010b8","name":"prepare for homekit","func":"let p = msg.payload;\n\nif (p.TargetHeatingCoolingState === 0) {//off\n    msg.payload.CurrentHeatingCoolingState = 0;\n    \n    return msg;\n} else if (p.TargetHeatingCoolingState === 1) {//heat\n    if (p.TargetTemperature <= p.CurrentTemperature) {\n        msg.payload.CurrentHeatingCoolingState = 0;\n    } else if (p.TargetTemperature > p.CurrentTemperature) {\n        msg.payload.CurrentHeatingCoolingState = 1;\n    }\n//for cooling or auto turn off because there is no air cond in bedroom\n} else {\n    msg.payload.CurrentHeatingCoolingState = 0;\n    msg.payload.TargetHeatingCoolingState = 0;\n    \n    return msg;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["42423841.a4a6b8"]]},{"id":"cb280eab.98d76","type":"cluster-out","z":"89e91894.8010b8","cluster":"ad0e465d.d91c98","name":"cluster out 9","pin":"9","inverted":true,"initialValue":false,"x":810,"y":420,"wires":[]},{"id":"db0f65e5.9ce5e8","type":"function","z":"89e91894.8010b8","name":"on/off relay","func":"if (msg.payload.CurrentHeatingCoolingState === 0) {\n    msg.payload.value = false;\n} else if (msg.payload.CurrentHeatingCoolingState === 1) {\n    msg.payload.value = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":380,"wires":[["cb280eab.98d76"]]},{"id":"e71991cb.95e76","type":"udp in","z":"355c0611.8bf34a","name":"xiaomi gateway","iface":"","port":"9898","ipv":"udp4","multicast":"true","group":"224.0.0.50","datatype":"utf8","x":100,"y":40,"wires":[["7258f85a.4809e8"]]},{"id":"c710f1db.8f954","type":"xiaomi-ht","z":"355c0611.8bf34a","gateway":"ff8d7056.18954","name":"master bedroom 1","sid":"158d00020285ed","temperature":"{{temperature}}","humidity":"{{humidity}}","divide":true,"output":"0","x":330,"y":40,"wires":[["135a8d37.fb1013"],[]]},{"id":"f9fa7bd7.b12038","type":"function","z":"355c0611.8bf34a","name":"prepare data","func":"let data = {};\n\nif (msg.payload.data) {\n    data = JSON.parse(msg.payload.data);\n    delete msg.payload.data;\n}\n\nObject.keys(data).forEach(key => {\n    if (key == \"temperature\") {\n        msg.payload[key] = data[key] / 100;\n    } else if (key == \"humidity\") {\n        msg.payload[key] = data[key] / 100;\n    } else {\n        msg.payload[key] = data[key];\n    }\n});\n\nif (msg.payload.cmd == \"heartbeat\") {\n    msg.payload.type = \"heartbeat\";\n} else if (msg.payload.cmd == \"report\") {\n    if (msg.payload.hasOwnProperty(\"temperature\")) {\n        msg.payload.type = \"temperature\";\n    } else if (msg.payload.hasOwnProperty(\"humidity\")) {\n        msg.payload.type = \"humidity\";\n    } \n}\n\nmsg.payload.date_created = new Date();\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":200,"wires":[["ddcbd293.a8fb1"]]},{"id":"c6d87cd1.aa8a7","type":"xiaomi-ht","z":"355c0611.8bf34a","gateway":"ff8d7056.18954","name":"master bedroom 2","sid":"158d0001fa4efd","temperature":"{{temperature}}","humidity":"{{humidity}}","divide":true,"output":"0","x":330,"y":100,"wires":[["135a8d37.fb1013"],[]]},{"id":"7258f85a.4809e8","type":"json","z":"355c0611.8bf34a","name":"","property":"payload","action":"","pretty":false,"x":110,"y":180,"wires":[["c6d87cd1.aa8a7","c710f1db.8f954","8207004.20a16","d4651bb8.1ba018","d29d3b5c.947e28","14f12233.27f5ae","e34d1138.a34b5"]]},{"id":"ddcbd293.a8fb1","type":"mongodb out","z":"355c0611.8bf34a","mongodb":"3e50d606.6ae63a","name":"temperature_humidity","collection":"temperature_humidity","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":800,"y":260,"wires":[]},{"id":"135a8d37.fb1013","type":"function","z":"355c0611.8bf34a","name":"specify location","func":"msg.payload.location = \"master_bedroom\";\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":60,"wires":[["f9fa7bd7.b12038"]]},{"id":"8207004.20a16","type":"xiaomi-ht","z":"355c0611.8bf34a","gateway":"ff8d7056.18954","name":"bathroom","sid":"158d0001fa5072","temperature":"{{temperature}}","humidity":"{{humidity}}","divide":true,"output":"0","x":300,"y":160,"wires":[["5e371e9a.6675e"],[]]},{"id":"5e371e9a.6675e","type":"function","z":"355c0611.8bf34a","name":"specify location","func":"msg.payload.location = \"bathroom\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":160,"wires":[["f9fa7bd7.b12038"]]},{"id":"d4651bb8.1ba018","type":"xiaomi-ht","z":"355c0611.8bf34a","gateway":"ff8d7056.18954","name":"living room 1","sid":"158d0001fa4eca","temperature":"{{temperature}}","humidity":"{{humidity}}","divide":true,"output":"0","x":310,"y":220,"wires":[["2d4a0993.076ea6"],[]]},{"id":"d29d3b5c.947e28","type":"xiaomi-ht","z":"355c0611.8bf34a","gateway":"ff8d7056.18954","name":"living room 2","sid":"158d0001fa4eb8","temperature":"{{temperature}}","humidity":"{{humidity}}","divide":true,"output":"0","x":310,"y":280,"wires":[["2d4a0993.076ea6"],[]]},{"id":"14f12233.27f5ae","type":"xiaomi-ht","z":"355c0611.8bf34a","gateway":"ff8d7056.18954","name":"small bedroom","sid":"158d0001fa4f40","temperature":"{{temperature}}","humidity":"{{humidity}}","divide":true,"output":"0","x":320,"y":340,"wires":[["51829802.0413a8"],[]]},{"id":"2d4a0993.076ea6","type":"function","z":"355c0611.8bf34a","name":"specify location","func":"msg.payload.location = \"living_room\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":240,"wires":[["f9fa7bd7.b12038"]]},{"id":"51829802.0413a8","type":"function","z":"355c0611.8bf34a","name":"specify location","func":"msg.payload.location = \"small_bedroom\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":340,"wires":[["f9fa7bd7.b12038"]]},{"id":"1b2cf9.9b0ea307","type":"delay","z":"89e91894.8010b8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":220,"wires":[["d53e2c55.12435","58e9f24c.f272dc"]]},{"id":"42423841.a4a6b8","type":"function","z":"89e91894.8010b8","name":"clean","func":"delete msg.payload.location;\ndelete msg.payload._id;\ndelete msg.payload.temperature;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":320,"wires":[["feefbaee.958d18"]]},{"id":"307c95f.dd21f6a","type":"inject","z":"89e91894.8010b8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"14400","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":640,"wires":[["86d51cd9.ba172"]]},{"id":"86d51cd9.ba172","type":"function","z":"89e91894.8010b8","name":"query","func":"msg.payload = {\n    \"location\":\"master_bedroom\",\n    \"type\":\"heartbeat\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":640,"wires":[["f3bce4d9.0cd708"]]},{"id":"f3bce4d9.0cd708","type":"mongodb in","z":"89e91894.8010b8","mongodb":"3e50d606.6ae63a","name":"temperature_humidity","collection":"temperature_humidity","operation":"find","x":400,"y":640,"wires":[["ba57edcd.bbd29"]]},{"id":"ba57edcd.bbd29","type":"function","z":"89e91894.8010b8","name":"voltage check","func":"let heartbeat = msg.payload[0];\nlet _msg = { \n    payload: {\n        StatusLowBattery: false,\n        StatusActive: true\n    } \n};\n\nif (heartbeat && heartbeat.voltage) {\n    if (heartbeat.voltage < 2450) {\n        _msg.payload.StatusLowBattery = true;\n        _msg.payload.StatusFault = true;\n    }\n}\n\nreturn _msg;","outputs":1,"noerr":0,"x":600,"y":640,"wires":[["db10e913.25c8b8","1a86db31.3ba5a5"]]},{"id":"88d0eeda.a2384","type":"homekit-service","z":"afc4c7b2.0679c8","bridge":"2b0fb48b.759e5c","name":"Temperature","serviceName":"TemperatureSensor","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":450,"y":120,"wires":[[]]},{"id":"4ada9613.c23ea8","type":"function","z":"afc4c7b2.0679c8","name":"prepare for homekit","func":"let _msg = {\n    payload: {\n        CurrentTemperature: msg.payload.temperature\n    }\n};\n\nreturn _msg;","outputs":1,"noerr":0,"x":150,"y":120,"wires":[["88d0eeda.a2384","be9d93b9.0b77b","679ff021.944d1"]]},{"id":"38a8f8ce.b9dc98","type":"homekit-service","z":"afc4c7b2.0679c8","bridge":"2b0fb48b.759e5c","name":"Humidity","serviceName":"HumiditySensor","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":360,"y":480,"wires":[[]]},{"id":"18f5ba9c.965e45","type":"function","z":"afc4c7b2.0679c8","name":"preapre for homekit","func":"let _msg = {\n    payload: {\n        CurrentRelativeHumidity: msg.payload.humidity\n    }\n};\n\nreturn _msg;","outputs":1,"noerr":0,"x":150,"y":480,"wires":[["38a8f8ce.b9dc98"]]},{"id":"be9d93b9.0b77b","type":"homekit-service","z":"afc4c7b2.0679c8","bridge":"2b0fb48b.759e5c","name":"Thermostat","serviceName":"Thermostat","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":450,"y":180,"wires":[["bd591fc8.9bf52","bb771f8d.0f74f"]]},{"id":"cb1011ea.68a1f","type":"inject","z":"afc4c7b2.0679c8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":60,"wires":[["7a9974b4.cc595c"]]},{"id":"28dfbcba.197644","type":"mongodb in","z":"afc4c7b2.0679c8","mongodb":"3e50d606.6ae63a","name":"temperature","collection":"temperature_humidity","operation":"find","x":410,"y":60,"wires":[["97499556.84df38"]]},{"id":"7a9974b4.cc595c","type":"function","z":"afc4c7b2.0679c8","name":"query","func":"msg.payload = {\n    \"location\":\"bathroom\",\n    \"type\":\"temperature\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["28dfbcba.197644"]]},{"id":"97499556.84df38","type":"function","z":"afc4c7b2.0679c8","name":"average temperature","func":"let items = msg.payload;\nlet count = items.length;\nlet sum = 0;\nlet average = 0;\nlet _msg = { };\n\nitems.forEach(item => {\n    sum += item.temperature;\n});\n\naverage = sum / count;\n\n_msg.payload = { temperature: Math.round(average) };\n\nreturn _msg;","outputs":1,"noerr":0,"x":600,"y":60,"wires":[["4ada9613.c23ea8"]]},{"id":"805f16c6.b43298","type":"inject","z":"afc4c7b2.0679c8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":420,"wires":[["c682425a.880a3"]]},{"id":"99e95a9f.6b1db8","type":"mongodb in","z":"afc4c7b2.0679c8","mongodb":"3e50d606.6ae63a","name":"humidity","collection":"temperature_humidity","operation":"find","x":360,"y":420,"wires":[["14ef968.b4ba76a"]]},{"id":"c682425a.880a3","type":"function","z":"afc4c7b2.0679c8","name":"query","func":"msg.payload = {\n    \"location\":\"bathroom\",\n    \"type\":\"humidity\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":420,"wires":[["99e95a9f.6b1db8"]]},{"id":"14ef968.b4ba76a","type":"function","z":"afc4c7b2.0679c8","name":"average humidity","func":"let items = msg.payload;\nlet count = items.length;\nlet sum = 0;\nlet average = 0;\nlet _msg = { };\n\nitems.forEach(item => {\n    sum += item.humidity;\n});\n\naverage = sum / count;\n\n_msg.payload = { humidity: Math.round(average) };\n\nreturn _msg;","outputs":1,"noerr":0,"x":530,"y":420,"wires":[["18f5ba9c.965e45"]]},{"id":"5ac9adbf.d28664","type":"mongodb out","z":"afc4c7b2.0679c8","mongodb":"3e50d606.6ae63a","name":"thermostats","collection":"thermostats","payonly":true,"upsert":true,"multi":false,"operation":"update","x":810,"y":220,"wires":[]},{"id":"bd591fc8.9bf52","type":"function","z":"afc4c7b2.0679c8","name":"update query","func":"msg.query = {_id : \"5b16d60a54cf645829b8562b\"};\nmsg.payload.location = \"bathroom\";\n\nlet payload = msg.payload;\n\nmsg.payload = { $set: payload }\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":220,"wires":[["5ac9adbf.d28664"]]},{"id":"54626e1f.f6e7","type":"mongodb in","z":"afc4c7b2.0679c8","mongodb":"3e50d606.6ae63a","name":"thermostats","collection":"thermostats","operation":"find","x":130,"y":280,"wires":[["5a2732fe.e8886c"]]},{"id":"679ff021.944d1","type":"function","z":"afc4c7b2.0679c8","name":"query to get thermostat","func":"let query = {\n    payload: {\n        location: \"bathroom\"\n    }\n};\n\nreturn query;","outputs":1,"noerr":0,"x":170,"y":240,"wires":[["54626e1f.f6e7"]],"outputLabels":["1"]},{"id":"5a2732fe.e8886c","type":"function","z":"afc4c7b2.0679c8","name":"shift","func":"msg.payload = msg.payload.shift();\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":280,"wires":[["8a33011e.ee175"]]},{"id":"8a33011e.ee175","type":"function","z":"afc4c7b2.0679c8","name":"prepare for homekit","func":"let p = msg.payload;\n\nif (p.TargetHeatingCoolingState === 0) {//off\n    msg.payload.CurrentHeatingCoolingState = 0;\n    \n    return msg;\n} else if (p.TargetHeatingCoolingState === 1) {//heat\n    if (p.TargetTemperature <= p.CurrentTemperature) {\n        msg.payload.CurrentHeatingCoolingState = 0;\n    } else if (p.TargetTemperature > p.CurrentTemperature) {\n        msg.payload.CurrentHeatingCoolingState = 1;\n    }\n//for cooling or auto turn off because there is no air cond in bedroom\n} else {\n    msg.payload.CurrentHeatingCoolingState = 0;\n    msg.payload.TargetHeatingCoolingState = 0;\n    \n    return msg;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["813c9699.564008"]]},{"id":"46501e31.d461e","type":"cluster-out","z":"afc4c7b2.0679c8","cluster":"ad0e465d.d91c98","name":"cluster out 9","pin":"9","inverted":true,"initialValue":false,"x":830,"y":420,"wires":[]},{"id":"64f6a14a.d8a48","type":"function","z":"afc4c7b2.0679c8","name":"on/off relay","func":"if (msg.payload.CurrentHeatingCoolingState === 0) {\n    msg.payload.value = false;\n} else if (msg.payload.CurrentHeatingCoolingState === 1) {\n    msg.payload.value = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":380,"wires":[["46501e31.d461e"]]},{"id":"204af5c9.d2a54a","type":"delay","z":"afc4c7b2.0679c8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":180,"wires":[["7a9974b4.cc595c"]]},{"id":"813c9699.564008","type":"function","z":"afc4c7b2.0679c8","name":"clean","func":"delete msg.payload.location;\ndelete msg.payload._id;\ndelete msg.payload.temperature;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":280,"wires":[["649f8a3c.746534"]]},{"id":"f91266d2.2be658","type":"inject","z":"afc4c7b2.0679c8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"14400","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":600,"wires":[["9201e42e.b46c98"]]},{"id":"9201e42e.b46c98","type":"function","z":"afc4c7b2.0679c8","name":"query","func":"msg.payload = {\n    \"location\":\"bathroom\",\n    \"type\":\"heartbeat\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":600,"wires":[["68ab3499.f3541c"]]},{"id":"68ab3499.f3541c","type":"mongodb in","z":"afc4c7b2.0679c8","mongodb":"3e50d606.6ae63a","name":"temperature_humidity","collection":"temperature_humidity","operation":"find","x":400,"y":600,"wires":[["15546781.5b6ef8"]]},{"id":"15546781.5b6ef8","type":"function","z":"afc4c7b2.0679c8","name":"voltage check","func":"let heartbeat = msg.payload[0];\nlet _msg = { \n    payload: {\n        StatusLowBattery: false,\n        StatusActive: true\n    } \n};\n\nif (heartbeat && heartbeat.voltage) {\n    if (heartbeat.voltage < 2450) {\n        _msg.payload.StatusLowBattery = true;\n        _msg.payload.StatusFault = true;\n    }\n}\n\nreturn _msg;","outputs":1,"noerr":0,"x":600,"y":600,"wires":[["38a8f8ce.b9dc98","88d0eeda.a2384"]]},{"id":"1b7917fb.3efec8","type":"mongodb in","z":"89e91894.8010b8","mongodb":"3e50d606.6ae63a","name":"humidity","collection":"temperature_humidity","operation":"find","x":400,"y":500,"wires":[["f8b853c7.32123"]]},{"id":"28205b37.9255d4","type":"function","z":"89e91894.8010b8","name":"query","func":"msg.payload = {\n    \"location\":\"master_bedroom\",\n    \"type\":\"humidity\",\n    \"sid\": \"158d00020285ed\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":500,"wires":[["1b7917fb.3efec8"]]},{"id":"f8b853c7.32123","type":"join","z":"89e91894.8010b8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":550,"y":500,"wires":[["44d4076.3719ef8"]]},{"id":"7c5faed6.5f10e","type":"mongodb in","z":"89e91894.8010b8","mongodb":"3e50d606.6ae63a","name":"humidity","collection":"temperature_humidity","operation":"find","x":400,"y":560,"wires":[["f8b853c7.32123"]]},{"id":"3545d667.963a0a","type":"function","z":"89e91894.8010b8","name":"query","func":"msg.payload = {\n    \"location\":\"master_bedroom\",\n    \"type\":\"humidity\",\n    \"sid\": \"158d0001fa4efd\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":560,"wires":[["7c5faed6.5f10e"]]},{"id":"44d4076.3719ef8","type":"function","z":"89e91894.8010b8","name":"average humidity","func":"let items = msg.payload;\nlet count = 0;\nlet sum = 0;\nlet average = 0;\nlet _msg = { };\n\nitems.forEach(item => {\n    if (item[0]) {\n        sum += item[0].humidity;\n        count++;\n    }\n});\n\naverage = sum / count;\n\n_msg.payload = { humidity: Math.round(average) };\n\nreturn _msg;","outputs":1,"noerr":0,"x":710,"y":500,"wires":[["47edffa8.e637a"]]},{"id":"36d9e81f.995368","type":"mongodb in","z":"89e91894.8010b8","mongodb":"3e50d606.6ae63a","name":"temperature","collection":"temperature_humidity","operation":"find","x":450,"y":60,"wires":[["ae0dfb4e.4ba718"]]},{"id":"58e9f24c.f272dc","type":"function","z":"89e91894.8010b8","name":"query","func":"msg.payload = {\n    \"location\":\"master_bedroom\",\n    \"type\":\"temperature\",\n    \"sid\": \"158d00020285ed\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":60,"wires":[["36d9e81f.995368"]]},{"id":"ae0dfb4e.4ba718","type":"join","z":"89e91894.8010b8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":80,"wires":[["1c9e6d17.147e63"]]},{"id":"4e38bfed.5e5c3","type":"mongodb in","z":"89e91894.8010b8","mongodb":"3e50d606.6ae63a","name":"temperature","collection":"temperature_humidity","operation":"find","x":450,"y":100,"wires":[["ae0dfb4e.4ba718"]]},{"id":"d53e2c55.12435","type":"function","z":"89e91894.8010b8","name":"query","func":"msg.payload = {\n    \"location\":\"master_bedroom\",\n    \"type\":\"temperature\",\n    \"sid\": \"158d0001fa4efd\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":100,"wires":[["4e38bfed.5e5c3"]]},{"id":"1c9e6d17.147e63","type":"function","z":"89e91894.8010b8","name":"average temperature","func":"let items = msg.payload;\nlet count = 0;\nlet sum = 0;\nlet average = 0;\nlet _msg = { };\n\nitems.forEach(item => {\n    if (item[0]) {\n        sum += item[0].temperature;\n        count++;\n    }\n});\n\naverage = sum / count;\n\n_msg.payload = { temperature: Math.round(average) };\n\nreturn _msg;","outputs":1,"noerr":0,"x":780,"y":80,"wires":[["9182d093.1a858"]]},{"id":"5f20f9f6.cedaf8","type":"rbe","z":"89e91894.8010b8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":570,"y":220,"wires":[["1b2cf9.9b0ea307"]]},{"id":"bb771f8d.0f74f","type":"rbe","z":"afc4c7b2.0679c8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":630,"y":180,"wires":[["204af5c9.d2a54a"]]},{"id":"e34d1138.a34b5","type":"xiaomi-motion","z":"355c0611.8bf34a","gateway":"ff8d7056.18954","name":"","sid":"158d0001a9789e","motionmsg":"","nomotionmsg":"","output":"0","x":320,"y":480,"wires":[["d823b7a6.9fe328"],[]]},{"id":"e8bcb5d8.e4c3e8","type":"homekit-service","z":"355c0611.8bf34a","bridge":"2b0fb48b.759e5c","name":"Motion","serviceName":"MotionSensor","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":750,"y":480,"wires":[[]]},{"id":"d823b7a6.9fe328","type":"function","z":"355c0611.8bf34a","name":"","func":"let data = {};\nlet _msg = {\n    payload: {}\n};\n\nif (msg.payload.data) {\n    data = JSON.parse(msg.payload.data);\n    delete msg.payload.data;\n}\n\nif (data.status === \"motion\") {\n    _msg.payload.MotionDetected = true;\n    _msg.payload.StatusActive = true;\n}\n\nif (data.voltage && data.voltage < 2450) {\n    _msg.payload.StatusLowBattery = true;\n    //_msg.payload.StatusFault = true;\n}\n\nreturn _msg;","outputs":1,"noerr":0,"x":510,"y":480,"wires":[["e8bcb5d8.e4c3e8","42121a4f.514cc4"]]},{"id":"42121a4f.514cc4","type":"delay","z":"355c0611.8bf34a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":560,"wires":[["c25c118d.656c2"]]},{"id":"c25c118d.656c2","type":"function","z":"355c0611.8bf34a","name":"","func":"return {\n  payload: {\n      MotionDetected: false\n  }  \n};","outputs":1,"noerr":0,"x":650,"y":560,"wires":[["e8bcb5d8.e4c3e8"]]},{"id":"649f8a3c.746534","type":"rbe","z":"afc4c7b2.0679c8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":710,"y":280,"wires":[["be9d93b9.0b77b"]]},{"id":"feefbaee.958d18","type":"rbe","z":"89e91894.8010b8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":710,"y":320,"wires":[["db0f65e5.9ce5e8","4aff4826.c814d8"]]},{"id":"aeaf0866.c66108","type":"homekit-service","z":"bb520db.79bd3f","bridge":"2b0fb48b.759e5c","name":"Temperature","serviceName":"TemperatureSensor","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":450,"y":100,"wires":[[]]},{"id":"87fa6711.eb39c8","type":"function","z":"bb520db.79bd3f","name":"prepare for homekit","func":"let _msg = {\n    payload: {\n        CurrentTemperature: msg.payload.temperature\n    }\n};\n\nreturn _msg;","outputs":1,"noerr":0,"x":150,"y":100,"wires":[["aeaf0866.c66108","78e8f110.d054f","43831762.b5b4b8"]]},{"id":"54458f03.cc5cb","type":"homekit-service","z":"bb520db.79bd3f","bridge":"2b0fb48b.759e5c","name":"Humidity","serviceName":"HumiditySensor","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":360,"y":460,"wires":[[]]},{"id":"61e9871a.49c4f8","type":"function","z":"bb520db.79bd3f","name":"preapre for homekit","func":"let _msg = {\n    payload: {\n        CurrentRelativeHumidity: msg.payload.humidity\n    }\n};\n\nreturn _msg;","outputs":1,"noerr":0,"x":150,"y":460,"wires":[["54458f03.cc5cb"]]},{"id":"78e8f110.d054f","type":"homekit-service","z":"bb520db.79bd3f","bridge":"2b0fb48b.759e5c","name":"Thermostat","serviceName":"Thermostat","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":450,"y":160,"wires":[["76e39533.86e96c","c5dbf45.1051508"]]},{"id":"f816fe33.efe85","type":"inject","z":"bb520db.79bd3f","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":40,"wires":[["19c87ed9.2155c1"]]},{"id":"a852d190.50161","type":"mongodb in","z":"bb520db.79bd3f","mongodb":"3e50d606.6ae63a","name":"temperature","collection":"temperature_humidity","operation":"find","x":410,"y":40,"wires":[["9f0a2616.847e48"]]},{"id":"19c87ed9.2155c1","type":"function","z":"bb520db.79bd3f","name":"query","func":"msg.payload = {\n    \"location\":\"small_bedroom\",\n    \"type\":\"temperature\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":40,"wires":[["a852d190.50161"]]},{"id":"9f0a2616.847e48","type":"function","z":"bb520db.79bd3f","name":"average temperature","func":"let items = msg.payload;\nlet count = items.length;\nlet sum = 0;\nlet average = 0;\nlet _msg = { };\n\nitems.forEach(item => {\n    sum += item.temperature;\n});\n\naverage = sum / count;\n\n_msg.payload = { temperature: Math.round(average) };\n\nreturn _msg;","outputs":1,"noerr":0,"x":600,"y":40,"wires":[["87fa6711.eb39c8"]]},{"id":"744218a6.6054d8","type":"inject","z":"bb520db.79bd3f","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":400,"wires":[["ea75f8a9.de0858"]]},{"id":"c5af27de.073178","type":"mongodb in","z":"bb520db.79bd3f","mongodb":"3e50d606.6ae63a","name":"humidity","collection":"temperature_humidity","operation":"find","x":360,"y":400,"wires":[["5a877fd6.f0c3e"]]},{"id":"ea75f8a9.de0858","type":"function","z":"bb520db.79bd3f","name":"query","func":"msg.payload = {\n    \"location\":\"small_bedroom\",\n    \"type\":\"humidity\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":400,"wires":[["c5af27de.073178"]]},{"id":"5a877fd6.f0c3e","type":"function","z":"bb520db.79bd3f","name":"average humidity","func":"let items = msg.payload;\nlet count = items.length;\nlet sum = 0;\nlet average = 0;\nlet _msg = { };\n\nitems.forEach(item => {\n    sum += item.humidity;\n});\n\naverage = sum / count;\n\n_msg.payload = { humidity: Math.round(average) };\n\nreturn _msg;","outputs":1,"noerr":0,"x":530,"y":400,"wires":[["61e9871a.49c4f8"]]},{"id":"85e9ec58.b4d69","type":"mongodb out","z":"bb520db.79bd3f","mongodb":"3e50d606.6ae63a","name":"thermostats","collection":"thermostats","payonly":true,"upsert":true,"multi":false,"operation":"update","x":810,"y":200,"wires":[]},{"id":"76e39533.86e96c","type":"function","z":"bb520db.79bd3f","name":"update query","func":"msg.query = {_id : \"5b1bea1ae648dc648c72488d\"};\nmsg.payload.location = \"small_bedroom\";\n\nlet payload = msg.payload;\n\nmsg.payload = { $set: payload }\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":200,"wires":[["85e9ec58.b4d69"]]},{"id":"dabfe22.df8192","type":"mongodb in","z":"bb520db.79bd3f","mongodb":"3e50d606.6ae63a","name":"thermostats","collection":"thermostats","operation":"find","x":130,"y":260,"wires":[["4a79cea5.e0ec5"]]},{"id":"43831762.b5b4b8","type":"function","z":"bb520db.79bd3f","name":"query to get thermostat","func":"let query = {\n    payload: {\n        location: \"small_bedroom\"\n    }\n};\n\nreturn query;","outputs":1,"noerr":0,"x":170,"y":220,"wires":[["dabfe22.df8192"]],"outputLabels":["1"]},{"id":"4a79cea5.e0ec5","type":"function","z":"bb520db.79bd3f","name":"shift","func":"msg.payload = msg.payload.shift();\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":260,"wires":[["49cca26c.ace6ec"]]},{"id":"49cca26c.ace6ec","type":"function","z":"bb520db.79bd3f","name":"prepare for homekit","func":"let p = msg.payload;\n\nif (p.TargetHeatingCoolingState === 0) {//off\n    msg.payload.CurrentHeatingCoolingState = 0;\n    \n    return msg;\n} else if (p.TargetHeatingCoolingState === 1) {//heat\n    if (p.TargetTemperature <= p.CurrentTemperature) {\n        msg.payload.CurrentHeatingCoolingState = 0;\n    } else if (p.TargetTemperature > p.CurrentTemperature) {\n        msg.payload.CurrentHeatingCoolingState = 1;\n    }\n//for cooling or auto turn off because there is no air cond in bedroom\n} else {\n    msg.payload.CurrentHeatingCoolingState = 0;\n    msg.payload.TargetHeatingCoolingState = 0;\n    \n    return msg;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["fb743b31.d47e68"]]},{"id":"82f1acf4.0157a","type":"cluster-out","z":"bb520db.79bd3f","cluster":"ad0e465d.d91c98","name":"cluster out 9","pin":"9","inverted":true,"initialValue":false,"x":830,"y":400,"wires":[]},{"id":"a87f0926.7cf088","type":"function","z":"bb520db.79bd3f","name":"on/off relay","func":"if (msg.payload.CurrentHeatingCoolingState === 0) {\n    msg.payload.value = false;\n} else if (msg.payload.CurrentHeatingCoolingState === 1) {\n    msg.payload.value = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":360,"wires":[["82f1acf4.0157a"]]},{"id":"45bc363f.80a478","type":"delay","z":"bb520db.79bd3f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":160,"wires":[["19c87ed9.2155c1"]]},{"id":"fb743b31.d47e68","type":"function","z":"bb520db.79bd3f","name":"clean","func":"delete msg.payload.location;\ndelete msg.payload._id;\ndelete msg.payload.temperature;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":260,"wires":[["ec0e6355.062f1"]]},{"id":"b5afb3fe.5a2f4","type":"inject","z":"bb520db.79bd3f","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"14400","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":580,"wires":[["3a433b0d.7c28f4"]]},{"id":"3a433b0d.7c28f4","type":"function","z":"bb520db.79bd3f","name":"query","func":"msg.payload = {\n    \"location\":\"small_bedroom\",\n    \"type\":\"heartbeat\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":580,"wires":[["e6c86b42.396e28"]]},{"id":"e6c86b42.396e28","type":"mongodb in","z":"bb520db.79bd3f","mongodb":"3e50d606.6ae63a","name":"temperature_humidity","collection":"temperature_humidity","operation":"find","x":400,"y":580,"wires":[["d6606f99.eaba6"]]},{"id":"d6606f99.eaba6","type":"function","z":"bb520db.79bd3f","name":"voltage check","func":"let heartbeat = msg.payload[0];\nlet _msg = { \n    payload: {\n        StatusLowBattery: false,\n        StatusActive: true\n    } \n};\n\nif (heartbeat && heartbeat.voltage) {\n    if (heartbeat.voltage < 2450) {\n        _msg.payload.StatusLowBattery = true;\n        _msg.payload.StatusFault = true;\n    }\n}\n\nreturn _msg;","outputs":1,"noerr":0,"x":600,"y":580,"wires":[["54458f03.cc5cb","aeaf0866.c66108"]]},{"id":"c5dbf45.1051508","type":"rbe","z":"bb520db.79bd3f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":630,"y":160,"wires":[["45bc363f.80a478"]]},{"id":"ec0e6355.062f1","type":"rbe","z":"bb520db.79bd3f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":710,"y":260,"wires":[["78e8f110.d054f"]]},{"id":"6de24872.eed938","type":"homekit-service","z":"55caa052.a86e","bridge":"2b0fb48b.759e5c","name":"Temperature","serviceName":"TemperatureSensor","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":410,"y":140,"wires":[[]]},{"id":"1d03f9ce.bbb026","type":"function","z":"55caa052.a86e","name":"prepare for homekit","func":"let _msg = {\n    payload: {\n        CurrentTemperature: msg.payload.temperature\n    }\n};\n\nreturn _msg;","outputs":1,"noerr":0,"x":150,"y":140,"wires":[["6de24872.eed938","b05bfb8f.e2cd58","9b2400f.adb82"]]},{"id":"1a4aa9b1.80a2d6","type":"homekit-service","z":"55caa052.a86e","bridge":"2b0fb48b.759e5c","name":"Humidity","serviceName":"HumiditySensor","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":800,"y":540,"wires":[[]]},{"id":"942b9ce8.73e4f","type":"function","z":"55caa052.a86e","name":"preapre for homekit","func":"let _msg = {\n    payload: {\n        CurrentRelativeHumidity: msg.payload.humidity\n    }\n};\n\nreturn _msg;","outputs":1,"noerr":0,"x":610,"y":540,"wires":[["1a4aa9b1.80a2d6"]]},{"id":"b05bfb8f.e2cd58","type":"homekit-service","z":"55caa052.a86e","bridge":"2b0fb48b.759e5c","name":"Thermostat","serviceName":"Thermostat","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":410,"y":200,"wires":[["88bd6e23.396bc","81e9fc5a.420a"]]},{"id":"eb7ae3a0.0c287","type":"inject","z":"55caa052.a86e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":60,"wires":[["2b301eff.c20bc2","4697e629.040e18"]]},{"id":"e1a60c1e.41e2f","type":"inject","z":"55caa052.a86e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":500,"wires":[["b0c9ca7.08d3b38","3edd3757.12dd28"]]},{"id":"560f40a4.84f21","type":"mongodb out","z":"55caa052.a86e","mongodb":"3e50d606.6ae63a","name":"thermostats","collection":"thermostats","payonly":true,"upsert":true,"multi":false,"operation":"update","x":750,"y":240,"wires":[]},{"id":"88bd6e23.396bc","type":"function","z":"55caa052.a86e","name":"update query","func":"msg.query = {_id : \"5b1bebc2e648dc648c72488e\"};\nmsg.payload.location = \"living_room\";\n\nlet payload = msg.payload;\n\nmsg.payload = { $set: payload }\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":240,"wires":[["560f40a4.84f21"]]},{"id":"890b6d78.30147","type":"mongodb in","z":"55caa052.a86e","mongodb":"3e50d606.6ae63a","name":"thermostats","collection":"thermostats","operation":"find","x":130,"y":300,"wires":[["fed1e8fc.c48d98"]]},{"id":"9b2400f.adb82","type":"function","z":"55caa052.a86e","name":"query to get thermostat","func":"let query = {\n    payload: {\n        location: \"living_room\"\n    }\n};\n\nreturn query;","outputs":1,"noerr":0,"x":170,"y":260,"wires":[["890b6d78.30147"]],"outputLabels":["1"]},{"id":"fed1e8fc.c48d98","type":"function","z":"55caa052.a86e","name":"shift","func":"msg.payload = msg.payload.shift();\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["d1d6a443.35b058"]]},{"id":"d1d6a443.35b058","type":"function","z":"55caa052.a86e","name":"prepare for homekit","func":"let p = msg.payload;\n\nif (p.TargetHeatingCoolingState === 0) {//off\n    msg.payload.CurrentHeatingCoolingState = 0;\n    \n    return msg;\n} else if (p.TargetHeatingCoolingState === 1) {//heat\n    if (p.TargetTemperature <= p.CurrentTemperature) {\n        msg.payload.CurrentHeatingCoolingState = 0;\n    } else if (p.TargetTemperature > p.CurrentTemperature) {\n        msg.payload.CurrentHeatingCoolingState = 1;\n    }\n//for cooling or auto turn off because there is no air cond in bedroom\n} else {\n    msg.payload.CurrentHeatingCoolingState = 0;\n    msg.payload.TargetHeatingCoolingState = 0;\n    \n    return msg;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":300,"wires":[["563d5a8e.78e384"]]},{"id":"ad33274d.dd1ca8","type":"delay","z":"55caa052.a86e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":200,"wires":[["4697e629.040e18","2b301eff.c20bc2"]]},{"id":"563d5a8e.78e384","type":"function","z":"55caa052.a86e","name":"clean","func":"delete msg.payload.location;\ndelete msg.payload._id;\ndelete msg.payload.temperature;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":300,"wires":[["31d8f985.5e7df6"]]},{"id":"c1e9a221.4c30a","type":"inject","z":"55caa052.a86e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"14400","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":620,"wires":[["acc41867.5e24d8"]]},{"id":"acc41867.5e24d8","type":"function","z":"55caa052.a86e","name":"query","func":"msg.payload = {\n    \"location\":\"living_room\",\n    \"type\":\"heartbeat\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":620,"wires":[["6baf24fb.ec8dbc"]]},{"id":"6baf24fb.ec8dbc","type":"mongodb in","z":"55caa052.a86e","mongodb":"3e50d606.6ae63a","name":"temperature_humidity","collection":"temperature_humidity","operation":"find","x":400,"y":620,"wires":[["7dec3b84.874f34"]]},{"id":"7dec3b84.874f34","type":"function","z":"55caa052.a86e","name":"voltage check","func":"let heartbeat = msg.payload[0];\nlet _msg = { \n    payload: {\n        StatusLowBattery: false,\n        StatusActive: true\n    } \n};\n\nif (heartbeat && heartbeat.voltage) {\n    if (heartbeat.voltage < 2450) {\n        _msg.payload.StatusLowBattery = true;\n        _msg.payload.StatusFault = true;\n    }\n}\n\nreturn _msg;","outputs":1,"noerr":0,"x":600,"y":620,"wires":[["1a4aa9b1.80a2d6","6de24872.eed938"]]},{"id":"38779dba.1c4792","type":"mongodb in","z":"55caa052.a86e","mongodb":"3e50d606.6ae63a","name":"humidity","collection":"temperature_humidity","operation":"find","x":400,"y":480,"wires":[["8d7f18b0.063828"]]},{"id":"b0c9ca7.08d3b38","type":"function","z":"55caa052.a86e","name":"query","func":"msg.payload = {\n    \"location\":\"living_room\",\n    \"type\":\"humidity\",\n    \"sid\": \"158d0001fa4eca\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":480,"wires":[["38779dba.1c4792"]]},{"id":"8d7f18b0.063828","type":"join","z":"55caa052.a86e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":550,"y":480,"wires":[["f6196256.855fd"]]},{"id":"9d1147e9.4a6018","type":"mongodb in","z":"55caa052.a86e","mongodb":"3e50d606.6ae63a","name":"humidity","collection":"temperature_humidity","operation":"find","x":400,"y":540,"wires":[["8d7f18b0.063828"]]},{"id":"3edd3757.12dd28","type":"function","z":"55caa052.a86e","name":"query","func":"msg.payload = {\n    \"location\":\"living_room\",\n    \"type\":\"humidity\",\n    \"sid\": \"158d0001fa4eb8\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":540,"wires":[["9d1147e9.4a6018"]]},{"id":"f6196256.855fd","type":"function","z":"55caa052.a86e","name":"average humidity","func":"let items = msg.payload;\nlet count = 0;\nlet sum = 0;\nlet average = 0;\nlet _msg = { };\n\nitems.forEach(item => {\n    if (item[0]) {\n        sum += item[0].humidity;\n        count++;\n    }\n});\n\naverage = sum / count;\n\n_msg.payload = { humidity: Math.round(average) };\n\nreturn _msg;","outputs":1,"noerr":0,"x":710,"y":480,"wires":[["942b9ce8.73e4f"]]},{"id":"a43ad453.478cf8","type":"mongodb in","z":"55caa052.a86e","mongodb":"3e50d606.6ae63a","name":"temperature","collection":"temperature_humidity","operation":"find","x":450,"y":40,"wires":[["193de55f.03753b"]]},{"id":"2b301eff.c20bc2","type":"function","z":"55caa052.a86e","name":"query","func":"msg.payload = {\n    \"location\":\"living_room\",\n    \"type\":\"temperature\",\n    \"sid\": \"158d0001fa4eca\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":40,"wires":[["a43ad453.478cf8"]]},{"id":"193de55f.03753b","type":"join","z":"55caa052.a86e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":60,"wires":[["913881a5.d268e"]]},{"id":"69d6fdf0.8e39d4","type":"mongodb in","z":"55caa052.a86e","mongodb":"3e50d606.6ae63a","name":"temperature","collection":"temperature_humidity","operation":"find","x":450,"y":80,"wires":[["193de55f.03753b"]]},{"id":"4697e629.040e18","type":"function","z":"55caa052.a86e","name":"query","func":"msg.payload = {\n    \"location\":\"living_room\",\n    \"type\":\"temperature\",\n    \"sid\": \"158d0001fa4eb8\"\n};\nmsg.sort = { _id: -1 };\nmsg.limit = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":80,"wires":[["69d6fdf0.8e39d4"]]},{"id":"913881a5.d268e","type":"function","z":"55caa052.a86e","name":"average temperature","func":"let items = msg.payload;\nlet count = 0;\nlet sum = 0;\nlet average = 0;\nlet _msg = { };\n\nitems.forEach(item => {\n    if (item[0]) {\n        sum += item[0].temperature;\n        count++;\n    }\n});\n\naverage = sum / count;\n\n_msg.payload = { temperature: Math.round(average) };\n\nreturn _msg;","outputs":1,"noerr":0,"x":780,"y":60,"wires":[["1d03f9ce.bbb026"]]},{"id":"81e9fc5a.420a","type":"rbe","z":"55caa052.a86e","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":570,"y":200,"wires":[["ad33274d.dd1ca8"]]},{"id":"31d8f985.5e7df6","type":"rbe","z":"55caa052.a86e","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":710,"y":300,"wires":[["b05bfb8f.e2cd58"]]},{"id":"1a7cd18a.a23c5e","type":"cluster-out","z":"55caa052.a86e","cluster":"ad0e465d.d91c98","name":"cluster out 9","pin":"9","inverted":true,"initialValue":false,"x":810,"y":400,"wires":[]},{"id":"6e1ac0b0.84f93","type":"function","z":"55caa052.a86e","name":"on/off relay","func":"if (msg.payload.CurrentHeatingCoolingState === 0) {\n    msg.payload.value = false;\n} else if (msg.payload.CurrentHeatingCoolingState === 1) {\n    msg.payload.value = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":360,"wires":[["1a7cd18a.a23c5e"]]},{"id":"d0ef1794.7b8488","type":"cluster-in","z":"573db85e.151878","cluster":"ad0e465d.d91c98","name":"cluster in 10","pin":"10","inverted":true,"x":110,"y":60,"wires":[["5a75fe27.f657a"]]},{"id":"189142b6.56fa2d","type":"cluster-out","z":"573db85e.151878","cluster":"ad0e465d.d91c98","name":"cluster out 1","pin":"1","inverted":true,"initialValue":false,"x":850,"y":60,"wires":[]},{"id":"5a75fe27.f657a","type":"pin-value","z":"573db85e.151878","cluster":"ad0e465d.d91c98","name":"pin value 1","pin":"1","x":310,"y":60,"wires":[["672afc3a.4cc764"]]},{"id":"672afc3a.4cc764","type":"function","z":"573db85e.151878","name":"reverse switch","func":"if (msg.payload.value == false) {\nmsg.payload.value = !msg.payload.pin_value;\nreturn msg;\n}","outputs":1,"noerr":0,"x":500,"y":60,"wires":[["5ea483b.a40497c","2dffb4f5.28341c"]]},{"id":"f58c124d.ba277","type":"cluster-in","z":"573db85e.151878","cluster":"ad0e465d.d91c98","name":"cluster in 3","pin":"3","inverted":true,"x":100,"y":120,"wires":[["5a75fe27.f657a"]]},{"id":"d54f67c5.6dcb88","type":"homekit-service","z":"573db85e.151878","bridge":"2b0fb48b.759e5c","name":"Button","serviceName":"Lightbulb","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":350,"y":220,"wires":[["3cb1b80e.174808"]]},{"id":"c8948dbe.d3df4","type":"function","z":"573db85e.151878","name":"set status","func":"let _msg = {\n    payload: {\n        On: msg.payload.value\n    }\n}\nreturn _msg;","outputs":1,"noerr":0,"x":214,"y":220,"wires":[["d54f67c5.6dcb88"]]},{"id":"3cb1b80e.174808","type":"function","z":"573db85e.151878","name":"","func":"msg.payload.value = msg.payload.On;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["189142b6.56fa2d","5ea483b.a40497c"]]},{"id":"2dffb4f5.28341c","type":"persist out","z":"573db85e.151878","name":"dd1","storageNode":"89c95f8d.4b2b5","x":670,"y":60,"wires":[["189142b6.56fa2d","c8948dbe.d3df4"]]},{"id":"5ea483b.a40497c","type":"persist in","z":"573db85e.151878","name":"dd1","storageNode":"89c95f8d.4b2b5","x":770,"y":300,"wires":[]},{"id":"c5d5c3ab.eb9d3","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 33","pin":"33","inverted":true,"initialValue":false,"x":800,"y":60,"wires":[]},{"id":"28ef18f5.11d8f8","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 34","pin":"34","inverted":true,"initialValue":false,"x":800,"y":100,"wires":[]},{"id":"a3bde7b2.554948","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 35","pin":"35","inverted":true,"initialValue":false,"x":800,"y":140,"wires":[]},{"id":"26ce7727.15ffd8","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 36","pin":"36","inverted":true,"initialValue":false,"x":800,"y":180,"wires":[]},{"id":"ab2de62f.9f2b78","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 37","pin":"37","inverted":true,"initialValue":false,"x":800,"y":220,"wires":[]},{"id":"5cf99fb2.6d859","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 40","pin":"40","inverted":true,"initialValue":false,"x":800,"y":340,"wires":[]},{"id":"243c6319.cbcc3c","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 38","pin":"38","inverted":true,"initialValue":false,"x":800,"y":260,"wires":[]},{"id":"ad6f6246.0b1ff","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 39","pin":"39","inverted":true,"initialValue":false,"x":800,"y":300,"wires":[]},{"id":"227f4fbd.297de","type":"i2c scan","z":"2d9d96ac.d60bea","x":240,"y":520,"wires":[["c9678a7d.3c4738"],[]]},{"id":"b83aea8b.45c3a8","type":"inject","z":"2d9d96ac.d60bea","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":520,"wires":[["227f4fbd.297de"]]},{"id":"c9678a7d.3c4738","type":"debug","z":"2d9d96ac.d60bea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":520,"wires":[]},{"id":"a34fe28c.4755f","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 41","pin":"41","inverted":true,"initialValue":false,"x":800,"y":380,"wires":[]},{"id":"bce81c0e.3bd36","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 42","pin":"42","inverted":true,"initialValue":false,"x":800,"y":420,"wires":[]},{"id":"b5efc4b0.15b828","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 43","pin":"43","inverted":true,"initialValue":false,"x":800,"y":460,"wires":[]},{"id":"b345ed45.e312d","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 44","pin":"44","inverted":true,"initialValue":false,"x":800,"y":500,"wires":[]},{"id":"851e86f0.4a7c08","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 45","pin":"45","inverted":true,"initialValue":false,"x":800,"y":540,"wires":[]},{"id":"f4232fbe.d698e","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 48","pin":"48","inverted":true,"initialValue":false,"x":800,"y":660,"wires":[]},{"id":"ddcdf6e3.325d58","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 46","pin":"46","inverted":true,"initialValue":false,"x":800,"y":580,"wires":[]},{"id":"8eb19733.8511a8","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 47","pin":"47","inverted":true,"initialValue":false,"x":800,"y":620,"wires":[]},{"id":"5a70e96a.40f708","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 49","pin":"49","inverted":true,"initialValue":false,"x":800,"y":700,"wires":[]},{"id":"f49ef3ff.e42d3","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 50","pin":"50","inverted":true,"initialValue":false,"x":800,"y":740,"wires":[]},{"id":"acd3327.9ab7ed","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 51","pin":"51","inverted":true,"initialValue":false,"x":800,"y":780,"wires":[]},{"id":"77d0f53f.30bacc","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 52","pin":"52","inverted":true,"initialValue":false,"x":800,"y":820,"wires":[]},{"id":"fe711d22.9adf","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 53","pin":"53","inverted":true,"initialValue":false,"x":800,"y":860,"wires":[]},{"id":"a186b3b6.a9bfc","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 56","pin":"56","inverted":true,"initialValue":false,"x":800,"y":980,"wires":[]},{"id":"8a0ca94a.5db288","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 54","pin":"54","inverted":true,"initialValue":false,"x":800,"y":900,"wires":[]},{"id":"e526b3fb.135f","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 55","pin":"55","inverted":true,"initialValue":false,"x":800,"y":940,"wires":[]},{"id":"323a99b8.3a5106","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 57","pin":"57","inverted":true,"initialValue":false,"x":800,"y":1020,"wires":[]},{"id":"a2ceca22.d1f968","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 58","pin":"58","inverted":true,"initialValue":false,"x":800,"y":1060,"wires":[]},{"id":"dc83c8dd.701148","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 59","pin":"59","inverted":true,"initialValue":false,"x":800,"y":1100,"wires":[]},{"id":"5402a439.29c89c","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 60","pin":"60","inverted":true,"initialValue":false,"x":800,"y":1140,"wires":[]},{"id":"533e11c6.e70c5","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 61","pin":"61","inverted":true,"initialValue":false,"x":800,"y":1180,"wires":[]},{"id":"425ed88a.996d48","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 64","pin":"64","inverted":true,"initialValue":false,"x":800,"y":1300,"wires":[]},{"id":"d74c2732.996108","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 62","pin":"62","inverted":true,"initialValue":false,"x":800,"y":1220,"wires":[]},{"id":"2a14c68b.31e90a","type":"cluster-out","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster out 63","pin":"63","inverted":true,"initialValue":false,"x":800,"y":1260,"wires":[]},{"id":"c8c9f164.91d88","type":"cluster-in","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster in 32","pin":"32","inverted":true,"x":90,"y":60,"wires":[["4d99fef9.68a87"]]},{"id":"4d99fef9.68a87","type":"pin-value","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"pin value 36","pin":"36","x":270,"y":80,"wires":[["a2069639.3b8ef8"]]},{"id":"a2069639.3b8ef8","type":"function","z":"2d9d96ac.d60bea","name":"reverse","func":"msg.payload.value = !msg.payload.pin_value;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":140,"wires":[["a13357a5.3ad738","3e561ef4.6f7cf2"]]},{"id":"ac40c78c.f25378","type":"cluster-in","z":"2d9d96ac.d60bea","cluster":"ad0e465d.d91c98","name":"cluster in 1","pin":"1","inverted":true,"x":100,"y":100,"wires":[["4d99fef9.68a87"]]},{"id":"396f14e5.b094dc","type":"homekit-service","z":"2d9d96ac.d60bea","bridge":"2b0fb48b.759e5c","name":"Lightbulb","serviceName":"Lightbulb","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":300,"y":300,"wires":[["aea0059c.c73408"]]},{"id":"9ba26f68.ecd0c","type":"function","z":"2d9d96ac.d60bea","name":"set status","func":"let _msg = {\n    payload: {\n        On: msg.payload.value\n    }\n}\nreturn _msg;","outputs":1,"noerr":0,"x":160,"y":300,"wires":[["396f14e5.b094dc"]]},{"id":"aea0059c.c73408","type":"function","z":"2d9d96ac.d60bea","name":"","func":"msg.payload.value = msg.payload.On;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":300,"wires":[["a13357a5.3ad738","26ce7727.15ffd8"]]},{"id":"3e561ef4.6f7cf2","type":"persist out","z":"2d9d96ac.d60bea","name":"dd1","storageNode":"89c95f8d.4b2b5","x":570,"y":140,"wires":[["9ba26f68.ecd0c","26ce7727.15ffd8"]]},{"id":"a13357a5.3ad738","type":"persist in","z":"2d9d96ac.d60bea","name":"dd1","storageNode":"89c95f8d.4b2b5","x":610,"y":300,"wires":[]}]