latest_flows_raspberrypi.json
[{"id":"889e0841.847e88","type":"tab","label":"Init","disabled":false,"info":""},{"id":"fb89e67a.2a0188","type":"tab","label":"Balcony","disabled":false,"info":""},{"id":"beb481.aa427b8","type":"tab","label":"Wash room","disabled":false,"info":""},{"id":"cd3e6a45.2ea1f8","type":"tab","label":"Master bedroom","disabled":false,"info":""},{"id":"11e5692f.3ca837","type":"tab","label":"Small bedroom","disabled":false,"info":""},{"id":"1b8825d.e022fda","type":"tab","label":"Short hallway","disabled":false,"info":""},{"id":"722026ab.b93168","type":"tab","label":"Long hallway","disabled":false,"info":""},{"id":"e620f40.12b6a1","type":"tab","label":"Living room","disabled":false,"info":""},{"id":"dc7b8a0.0451778","type":"tab","label":"Kitchen","disabled":false,"info":""},{"id":"b67f0cd7.091e3","type":"tab","label":"Bathroom","disabled":false,"info":""},{"id":"ad0e465d.d91c98","type":"cluster-configurator","z":"","addresses":"{ \"addresses\": [32, 33, 34, 35, 36, 37, 38, 39] }","initialStates":"{ \"initial_states\": [true, true, true, true, true, true, true, true] }","interrupts":"{ \"interrupts\": [{ \"index\": 1, \"pin\": 17 }, { \"index\": 2, \"pin\": 17 }, { \"index\": 3, \"pin\": 17 }, { \"index\": 4, \"pin\": 17 }] }"},{"id":"89c95f8d.4b2b5","type":"persist-store","z":"","filename":"persistance.json","interval":"2"},{"id":"ff8d7056.18954","type":"xiaomi-configurator","z":"","name":"xiaomi gateway","deviceList":[{"sid":"xxx","desc":"xxx","model":"sensor_ht"},{"sid":"158d00020285ed","desc":"master bedroom 1","model":"sensor_ht"},{"sid":"158d0001fa4efd","desc":"master bedroom 2","model":"sensor_ht"},{"sid":"158d0001fa5072","desc":"bathroom","model":"sensor_ht"},{"sid":"158d0001fa4eca","desc":"living room 1","model":"sensor_ht"},{"sid":"158d0001fa4eb8","desc":"living room 2","model":"sensor_ht"},{"sid":"158d0001fa4f40","desc":"small bedroom","model":"sensor_ht"},{"sid":"158d0001a9789e","desc":"master bedroom","model":"motion"}],"key":"35D70C3337264840"},{"id":"3e50d606.6ae63a","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"galaxy137","name":"mongodb_galaxy137"},{"id":"2b0fb48b.759e5c","type":"homekit-bridge","z":"","bridgeName":"hub","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number"},{"id":"2ce54171.15e30e","type":"cluster-in","z":"fb89e67a.2a0188","cluster":"ad0e465d.d91c98","name":"in 8","pin":"8","inverted":false,"x":90,"y":100,"wires":[["22a940d1.ca46a"]]},{"id":"22a940d1.ca46a","type":"pin-value","z":"fb89e67a.2a0188","cluster":"ad0e465d.d91c98","name":"pin value 48","pin":"48","x":250,"y":100,"wires":[["6b0f1ecb.1b216"]]},{"id":"6b0f1ecb.1b216","type":"function","z":"fb89e67a.2a0188","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":420,"y":100,"wires":[["20899f24.b25d9","67bec25c.c9b24c"]]},{"id":"67bec25c.c9b24c","type":"cluster-out","z":"fb89e67a.2a0188","cluster":"ad0e465d.d91c98","name":"out 48","pin":"48","inverted":true,"initialValue":false,"x":610,"y":100,"wires":[]},{"id":"60e9e3ae.5b70dc","type":"persist out","z":"fb89e67a.2a0188","name":"balcony","storageNode":"89c95f8d.4b2b5","x":420,"y":60,"wires":[["67bec25c.c9b24c"]]},{"id":"20899f24.b25d9","type":"persist in","z":"fb89e67a.2a0188","name":"balcony","storageNode":"89c95f8d.4b2b5","x":620,"y":140,"wires":[]},{"id":"60cfacec.0a95a4","type":"inject","z":"889e0841.847e88","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"1","x":110,"y":100,"wires":[["4332a795.07dc08"]]},{"id":"4332a795.07dc08","type":"function","z":"889e0841.847e88","name":"Set BootDone","func":"global.set(\"boot_done\", true);\nnode.warn('boot_done set');\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":100,"wires":[[]]},{"id":"c4635fcf.78275","type":"inject","z":"889e0841.847e88","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0","x":110,"y":40,"wires":[["ce976293.bf1b4"]]},{"id":"ce976293.bf1b4","type":"function","z":"889e0841.847e88","name":"Reset BootDone","func":"global.set(\"boot_done\", false);\nnode.warn('boot_done reset');\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":40,"wires":[[]]},{"id":"5983d4cb.964e3c","type":"cluster-in","z":"beb481.aa427b8","cluster":"ad0e465d.d91c98","name":"in 4 (Short hallway switch)","pin":"4","inverted":false,"x":170,"y":80,"wires":[["7b5cf35c.c66f0c"]]},{"id":"7b5cf35c.c66f0c","type":"pin-value","z":"beb481.aa427b8","cluster":"ad0e465d.d91c98","name":"pin value 36","pin":"36","x":370,"y":80,"wires":[["1fa25e7b.db2ed2"]]},{"id":"1fa25e7b.db2ed2","type":"function","z":"beb481.aa427b8","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":520,"y":80,"wires":[["62d8cfb1.e44e1","a0ae4d89.00f75"]]},{"id":"a0ae4d89.00f75","type":"cluster-out","z":"beb481.aa427b8","cluster":"ad0e465d.d91c98","name":"out 36","pin":"36","inverted":true,"initialValue":false,"x":730,"y":80,"wires":[]},{"id":"58406a19.5e4f14","type":"cluster-in","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"in 22","pin":"22","inverted":false,"x":70,"y":100,"wires":[["74346cdb.201da4"]]},{"id":"74346cdb.201da4","type":"pin-value","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"pin value 43","pin":"43","x":220,"y":100,"wires":[["53aa0b00.688a24"]]},{"id":"53aa0b00.688a24","type":"function","z":"cd3e6a45.2ea1f8","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":390,"y":100,"wires":[["8cf04254.00044","2262f80c.d6b8e8"]]},{"id":"2262f80c.d6b8e8","type":"cluster-out","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"out 43 (Lamp Left)","pin":"43","inverted":true,"initialValue":false,"x":660,"y":100,"wires":[]},{"id":"1df5c4d9.5c27bb","type":"cluster-in","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"in 13","pin":"13","inverted":false,"x":70,"y":240,"wires":[["8ab99f6a.d2bf4"]]},{"id":"8ab99f6a.d2bf4","type":"pin-value","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"pin value 44","pin":"44","x":220,"y":240,"wires":[["f0725cce.8c279"]]},{"id":"f0725cce.8c279","type":"function","z":"cd3e6a45.2ea1f8","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["589fd61c.a356c8","366bba9a.0a1d06"]]},{"id":"366bba9a.0a1d06","type":"cluster-out","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"out 44 (Lamp Right)","pin":"44","inverted":true,"initialValue":false,"x":660,"y":240,"wires":[]},{"id":"460aaf00.e049f","type":"cluster-in","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"in 6 (door)","pin":"6","inverted":false,"x":80,"y":380,"wires":[["4b6f3876.d0bc58"]]},{"id":"4b6f3876.d0bc58","type":"pin-value","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"pin value 45","pin":"45","x":270,"y":420,"wires":[["682dfccb.28ac34"]]},{"id":"682dfccb.28ac34","type":"function","z":"cd3e6a45.2ea1f8","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n//node.warn(bootDone)\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":420,"y":420,"wires":[["122be60c.ba4eca","f8d753b7.32361"]]},{"id":"f8d753b7.32361","type":"cluster-out","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"out 45 (Spots)","pin":"45","inverted":true,"initialValue":false,"x":660,"y":420,"wires":[]},{"id":"3d7ae95b.c2a1d6","type":"cluster-in","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"in 23","pin":"23","inverted":false,"x":70,"y":420,"wires":[["4b6f3876.d0bc58"]]},{"id":"937ac0ae.1ab67","type":"cluster-in","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"in 24","pin":"24","inverted":false,"x":70,"y":620,"wires":[["596c66fa.4a87a8"]]},{"id":"fae6c4a9.d28e28","type":"cluster-in","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"in 14","pin":"14","inverted":false,"x":70,"y":460,"wires":[["4b6f3876.d0bc58"]]},{"id":"b0eaf7b3.3ca388","type":"cluster-in","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"in 15","pin":"15","inverted":false,"x":70,"y":660,"wires":[["596c66fa.4a87a8"]]},{"id":"955779bf.218798","type":"cluster-in","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"in 7 (door)","pin":"7","inverted":false,"x":80,"y":580,"wires":[["596c66fa.4a87a8"]]},{"id":"596c66fa.4a87a8","type":"pin-value","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"pin value 41","pin":"41","x":270,"y":620,"wires":[["5b68f32f.4babcc"]]},{"id":"5b68f32f.4babcc","type":"function","z":"cd3e6a45.2ea1f8","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n//node.warn(bootDone)\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":420,"y":620,"wires":[["a566cad6.21c698","15a84a30.441586"]]},{"id":"15a84a30.441586","type":"cluster-out","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"out 41 (Rail)","pin":"41","inverted":true,"initialValue":false,"x":650,"y":620,"wires":[]},{"id":"2659a9a.47a4556","type":"cluster-out","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"out 42 (Furniture)","pin":"42","inverted":true,"initialValue":false,"x":670,"y":740,"wires":[]},{"id":"122be60c.ba4eca","type":"persist in","z":"cd3e6a45.2ea1f8","name":"mb_spots","storageNode":"89c95f8d.4b2b5","x":640,"y":460,"wires":[]},{"id":"ddaedd9b.e3a37","type":"persist out","z":"cd3e6a45.2ea1f8","name":"mb_spots","storageNode":"89c95f8d.4b2b5","x":420,"y":380,"wires":[["f8d753b7.32361"]]},{"id":"a566cad6.21c698","type":"persist in","z":"cd3e6a45.2ea1f8","name":"mb_rail","storageNode":"89c95f8d.4b2b5","x":640,"y":660,"wires":[]},{"id":"f004cd11.a9c75","type":"persist out","z":"cd3e6a45.2ea1f8","name":"mb_rail","storageNode":"89c95f8d.4b2b5","x":420,"y":580,"wires":[["15a84a30.441586"]]},{"id":"589fd61c.a356c8","type":"persist in","z":"cd3e6a45.2ea1f8","name":"mb_lamp_right","storageNode":"89c95f8d.4b2b5","x":650,"y":280,"wires":[]},{"id":"fda9bcaa.683e3","type":"persist out","z":"cd3e6a45.2ea1f8","name":"mb_lamp_right","storageNode":"89c95f8d.4b2b5","x":410,"y":200,"wires":[["366bba9a.0a1d06"]]},{"id":"8cf04254.00044","type":"persist in","z":"cd3e6a45.2ea1f8","name":"mb_lamp_left","storageNode":"89c95f8d.4b2b5","x":650,"y":140,"wires":[]},{"id":"774c9a0c.b36c54","type":"persist out","z":"cd3e6a45.2ea1f8","name":"mb_lamp_left","storageNode":"89c95f8d.4b2b5","x":410,"y":60,"wires":[["2262f80c.d6b8e8"]]},{"id":"9078f5b.99f6908","type":"cluster-in","z":"11e5692f.3ca837","cluster":"ad0e465d.d91c98","name":"in 2","pin":"2","inverted":false,"x":90,"y":80,"wires":[["9f6b207b.9eecd"]]},{"id":"9f6b207b.9eecd","type":"pin-value","z":"11e5692f.3ca837","cluster":"ad0e465d.d91c98","name":"pin value 46","pin":"46","x":270,"y":100,"wires":[["fa2c98d8.86cd38"]]},{"id":"fa2c98d8.86cd38","type":"function","z":"11e5692f.3ca837","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":420,"y":100,"wires":[["ad7429ed.7efb58","a209018e.fb0e6"]]},{"id":"a209018e.fb0e6","type":"cluster-out","z":"11e5692f.3ca837","cluster":"ad0e465d.d91c98","name":"out 46 (right)","pin":"46","inverted":true,"initialValue":false,"x":650,"y":100,"wires":[]},{"id":"d2217914.377778","type":"cluster-in","z":"11e5692f.3ca837","cluster":"ad0e465d.d91c98","name":"in 12","pin":"12","inverted":false,"x":90,"y":120,"wires":[["9f6b207b.9eecd"]]},{"id":"1ff786e0.9f9539","type":"cluster-in","z":"11e5692f.3ca837","cluster":"ad0e465d.d91c98","name":"in 3","pin":"3","inverted":false,"x":90,"y":220,"wires":[["121dcd51.5b0353"]]},{"id":"121dcd51.5b0353","type":"pin-value","z":"11e5692f.3ca837","cluster":"ad0e465d.d91c98","name":"pin value 47","pin":"47","x":270,"y":240,"wires":[["4ef90bb7.3a6d94"]]},{"id":"4ef90bb7.3a6d94","type":"function","z":"11e5692f.3ca837","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["8f9da0a4.1ac6f","a0db8bf8.ddeb68"]]},{"id":"a0db8bf8.ddeb68","type":"cluster-out","z":"11e5692f.3ca837","cluster":"ad0e465d.d91c98","name":"out 47 (left)","pin":"47","inverted":true,"initialValue":false,"x":650,"y":240,"wires":[]},{"id":"8efcbce.9189a4","type":"cluster-in","z":"11e5692f.3ca837","cluster":"ad0e465d.d91c98","name":"in 17","pin":"17","inverted":false,"x":90,"y":260,"wires":[["121dcd51.5b0353"]]},{"id":"1926878b.a0e528","type":"cluster-in","z":"1b8825d.e022fda","cluster":"ad0e465d.d91c98","name":"in 9 (Short hallway switch)","pin":"9","inverted":false,"x":150,"y":120,"wires":[["91efa61d.bc0788"]]},{"id":"91efa61d.bc0788","type":"pin-value","z":"1b8825d.e022fda","cluster":"ad0e465d.d91c98","name":"pin value 34","pin":"34","x":390,"y":140,"wires":[["c6855a9c.d1f938"]]},{"id":"c6855a9c.d1f938","type":"function","z":"1b8825d.e022fda","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":540,"y":140,"wires":[["b40879c7.115508","baf748f1.d8e0d8"]]},{"id":"b40879c7.115508","type":"cluster-out","z":"1b8825d.e022fda","cluster":"ad0e465d.d91c98","name":"out 34","pin":"34","inverted":true,"initialValue":false,"x":770,"y":140,"wires":[]},{"id":"87288f6.f6b2f7","type":"cluster-in","z":"1b8825d.e022fda","cluster":"ad0e465d.d91c98","name":"in 32 (Long hallway switch)","pin":"32","inverted":false,"x":150,"y":160,"wires":[["91efa61d.bc0788"]]},{"id":"c1b0a08.45ca96","type":"cluster-in","z":"722026ab.b93168","cluster":"ad0e465d.d91c98","name":"in 21 (Long hallway switch)","pin":"21","inverted":false,"x":150,"y":100,"wires":[["d41f7bdf.208548"]]},{"id":"d41f7bdf.208548","type":"pin-value","z":"722026ab.b93168","cluster":"ad0e465d.d91c98","name":"pin value 35","pin":"35","x":370,"y":100,"wires":[["1e25a98d.254316"]]},{"id":"1e25a98d.254316","type":"function","z":"722026ab.b93168","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":540,"y":100,"wires":[["f8c13665.fe4118","9532e305.545e5"]]},{"id":"f8c13665.fe4118","type":"cluster-out","z":"722026ab.b93168","cluster":"ad0e465d.d91c98","name":"out 35","pin":"35","inverted":true,"initialValue":false,"x":730,"y":100,"wires":[]},{"id":"e7ff95ae.a4af68","type":"cluster-in","z":"e620f40.12b6a1","cluster":"ad0e465d.d91c98","name":"in 20","pin":"20","inverted":false,"x":90,"y":380,"wires":[["4cc03ae7.ae6e74"]]},{"id":"4cc03ae7.ae6e74","type":"pin-value","z":"e620f40.12b6a1","cluster":"ad0e465d.d91c98","name":"pin value 52","pin":"52","x":250,"y":380,"wires":[["9e490c6b.4fa44"]]},{"id":"9e490c6b.4fa44","type":"function","z":"e620f40.12b6a1","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":420,"y":380,"wires":[["fd53645f.b723f8","5fcd49f7.c70578"]]},{"id":"fd53645f.b723f8","type":"cluster-out","z":"e620f40.12b6a1","cluster":"ad0e465d.d91c98","name":"out 52 (spots)","pin":"52","inverted":true,"initialValue":false,"x":640,"y":380,"wires":[]},{"id":"8e25d9da.f0dad8","type":"cluster-in","z":"e620f40.12b6a1","cluster":"ad0e465d.d91c98","name":"in 18","pin":"18","inverted":false,"x":90,"y":100,"wires":[["b6b0438b.d6dee"]]},{"id":"b6b0438b.d6dee","type":"pin-value","z":"e620f40.12b6a1","cluster":"ad0e465d.d91c98","name":"pin value 50","pin":"50","x":250,"y":100,"wires":[["2d3a842c.30c9ac"]]},{"id":"2d3a842c.30c9ac","type":"function","z":"e620f40.12b6a1","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":420,"y":100,"wires":[["f0f7c4d7.09a5a8","d8ce1c24.334c4"]]},{"id":"f0f7c4d7.09a5a8","type":"cluster-out","z":"e620f40.12b6a1","cluster":"ad0e465d.d91c98","name":"out 50 (rail)","pin":"50","inverted":true,"initialValue":false,"x":630,"y":100,"wires":[]},{"id":"301a53dc.7ee19c","type":"cluster-in","z":"e620f40.12b6a1","cluster":"ad0e465d.d91c98","name":"in 19","pin":"19","inverted":false,"x":90,"y":240,"wires":[["11eb93a2.fade0c"]]},{"id":"11eb93a2.fade0c","type":"pin-value","z":"e620f40.12b6a1","cluster":"ad0e465d.d91c98","name":"pin value 51","pin":"51","x":250,"y":240,"wires":[["6bd95a94.e53ac4"]]},{"id":"6bd95a94.e53ac4","type":"function","z":"e620f40.12b6a1","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["11cf3cd8.e9c283","e9f208a1.5bb688"]]},{"id":"11cf3cd8.e9c283","type":"cluster-out","z":"e620f40.12b6a1","cluster":"ad0e465d.d91c98","name":"out 51(lamp)","pin":"51","inverted":true,"initialValue":false,"x":630,"y":240,"wires":[]},{"id":"bcba7599.1cbb18","type":"cluster-in","z":"dc7b8a0.0451778","cluster":"ad0e465d.d91c98","name":"in 10","pin":"10","inverted":false,"x":110,"y":120,"wires":[["5f74cf0e.7fa7e"]]},{"id":"5f74cf0e.7fa7e","type":"pin-value","z":"dc7b8a0.0451778","cluster":"ad0e465d.d91c98","name":"pin value 54","pin":"54","x":270,"y":120,"wires":[["5d0ebf7e.23d97"]]},{"id":"5d0ebf7e.23d97","type":"function","z":"dc7b8a0.0451778","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":440,"y":120,"wires":[["3d5f8a7f.0e96b6","4d542129.d773d"]]},{"id":"3d5f8a7f.0e96b6","type":"cluster-out","z":"dc7b8a0.0451778","cluster":"ad0e465d.d91c98","name":"out 54 (rail)","pin":"54","inverted":true,"initialValue":false,"x":710,"y":120,"wires":[]},{"id":"485ff250.d58eec","type":"cluster-in","z":"dc7b8a0.0451778","cluster":"ad0e465d.d91c98","name":"in 11","pin":"11","inverted":false,"x":110,"y":260,"wires":[["aa10dfbe.77292"]]},{"id":"aa10dfbe.77292","type":"pin-value","z":"dc7b8a0.0451778","cluster":"ad0e465d.d91c98","name":"pin value 55","pin":"55","x":270,"y":260,"wires":[["31d555a8.023d2a"]]},{"id":"31d555a8.023d2a","type":"function","z":"dc7b8a0.0451778","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":440,"y":260,"wires":[["e93604e5.fe5018","3eb951cb.1694be"]]},{"id":"e93604e5.fe5018","type":"cluster-out","z":"dc7b8a0.0451778","cluster":"ad0e465d.d91c98","name":"out 55 (lamps)","pin":"55","inverted":true,"initialValue":false,"x":720,"y":260,"wires":[]},{"id":"190c7584.c5849a","type":"cluster-out","z":"dc7b8a0.0451778","cluster":"ad0e465d.d91c98","name":"out 53 (Furniture)","pin":"53","inverted":true,"initialValue":false,"x":730,"y":380,"wires":[]},{"id":"e20ffd3b.dc323","type":"cluster-in","z":"b67f0cd7.091e3","cluster":"ad0e465d.d91c98","name":"in 5 fan","pin":"5","inverted":false,"x":90,"y":380,"wires":[["bd006b70.9ce868"]]},{"id":"bd1cf1b9.dcec6","type":"cluster-in","z":"b67f0cd7.091e3","cluster":"ad0e465d.d91c98","name":"in 16 lamp","pin":"16","inverted":false,"x":100,"y":240,"wires":[["fe46d6c1.4d32b8"]]},{"id":"93f8519a.42ed2","type":"cluster-in","z":"b67f0cd7.091e3","cluster":"ad0e465d.d91c98","name":"in 1 (door)","pin":"1","inverted":false,"x":100,"y":80,"wires":[["4f44e4b.b9c6d1c"]]},{"id":"5b9e96eb.98a498","type":"cluster-out","z":"b67f0cd7.091e3","cluster":"ad0e465d.d91c98","name":"out 37 left","pin":"37","inverted":true,"initialValue":false,"x":760,"y":60,"wires":[]},{"id":"4f8a3710.899e78","type":"cluster-out","z":"b67f0cd7.091e3","cluster":"ad0e465d.d91c98","name":"out 38 fan","pin":"38","inverted":true,"initialValue":false,"x":760,"y":380,"wires":[]},{"id":"eb4f67fe.cc4898","type":"cluster-out","z":"b67f0cd7.091e3","cluster":"ad0e465d.d91c98","name":"out 39 right","pin":"39","inverted":true,"initialValue":false,"x":770,"y":100,"wires":[]},{"id":"8587dc43.0035f","type":"cluster-out","z":"b67f0cd7.091e3","cluster":"ad0e465d.d91c98","name":"out 40 lamp","pin":"40","inverted":true,"initialValue":false,"x":770,"y":240,"wires":[]},{"id":"4f44e4b.b9c6d1c","type":"pin-value","z":"b67f0cd7.091e3","cluster":"ad0e465d.d91c98","name":"pin value 37","pin":"37","x":290,"y":80,"wires":[["2c1f2855.ddf8f8"]]},{"id":"2c1f2855.ddf8f8","type":"function","z":"b67f0cd7.091e3","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":500,"y":80,"wires":[["5b9e96eb.98a498","eb4f67fe.cc4898","427959a9.89f6f8"]]},{"id":"4ede721a.9589ac","type":"persist out","z":"beb481.aa427b8","name":"wash_room","storageNode":"89c95f8d.4b2b5","x":530,"y":40,"wires":[["a0ae4d89.00f75"]]},{"id":"62d8cfb1.e44e1","type":"persist in","z":"beb481.aa427b8","name":"wash_room","storageNode":"89c95f8d.4b2b5","x":750,"y":120,"wires":[]},{"id":"c29cee05.ed994","type":"persist out","z":"11e5692f.3ca837","name":"sb_right","storageNode":"89c95f8d.4b2b5","x":420,"y":60,"wires":[["a209018e.fb0e6"]]},{"id":"ad7429ed.7efb58","type":"persist in","z":"11e5692f.3ca837","name":"sb_right","storageNode":"89c95f8d.4b2b5","x":640,"y":140,"wires":[]},{"id":"733cd43a.350b3c","type":"persist out","z":"11e5692f.3ca837","name":"sb_left","storageNode":"89c95f8d.4b2b5","x":410,"y":200,"wires":[["a0db8bf8.ddeb68"]]},{"id":"8f9da0a4.1ac6f","type":"persist in","z":"11e5692f.3ca837","name":"sb_left","storageNode":"89c95f8d.4b2b5","x":630,"y":280,"wires":[]},{"id":"46d1477c.def088","type":"persist out","z":"1b8825d.e022fda","name":"short_hallway","storageNode":"89c95f8d.4b2b5","x":560,"y":100,"wires":[["b40879c7.115508"]]},{"id":"baf748f1.d8e0d8","type":"persist in","z":"1b8825d.e022fda","name":"short_hallway","storageNode":"89c95f8d.4b2b5","x":800,"y":180,"wires":[]},{"id":"9532e305.545e5","type":"persist in","z":"722026ab.b93168","name":"long_hallway","storageNode":"89c95f8d.4b2b5","x":750,"y":140,"wires":[]},{"id":"b4786c8.8cac69","type":"persist out","z":"722026ab.b93168","name":"long_hallway","storageNode":"89c95f8d.4b2b5","x":550,"y":60,"wires":[["f8c13665.fe4118"]]},{"id":"e5b2e052.77c7b","type":"persist out","z":"e620f40.12b6a1","name":"lr_rail","storageNode":"89c95f8d.4b2b5","x":410,"y":60,"wires":[["f0f7c4d7.09a5a8"]]},{"id":"d8ce1c24.334c4","type":"persist in","z":"e620f40.12b6a1","name":"lr_rail","storageNode":"89c95f8d.4b2b5","x":610,"y":140,"wires":[]},{"id":"7c906e84.5c888","type":"persist out","z":"e620f40.12b6a1","name":"lr_spot","storageNode":"89c95f8d.4b2b5","x":410,"y":340,"wires":[["fd53645f.b723f8"]]},{"id":"5fcd49f7.c70578","type":"persist in","z":"e620f40.12b6a1","name":"lr_spot","storageNode":"89c95f8d.4b2b5","x":610,"y":420,"wires":[]},{"id":"e69dc98b.9b60b8","type":"persist out","z":"e620f40.12b6a1","name":"lr_lamp","storageNode":"89c95f8d.4b2b5","x":420,"y":200,"wires":[["11cf3cd8.e9c283"]]},{"id":"e9f208a1.5bb688","type":"persist in","z":"e620f40.12b6a1","name":"lr_lamp","storageNode":"89c95f8d.4b2b5","x":620,"y":280,"wires":[]},{"id":"db5692b1.8739","type":"persist out","z":"dc7b8a0.0451778","name":"kitchen_rail","storageNode":"89c95f8d.4b2b5","x":450,"y":80,"wires":[["3d5f8a7f.0e96b6"]]},{"id":"4d542129.d773d","type":"persist in","z":"dc7b8a0.0451778","name":"kitchen_rail","storageNode":"89c95f8d.4b2b5","x":710,"y":160,"wires":[]},{"id":"96c7ba01.f3bd58","type":"persist out","z":"dc7b8a0.0451778","name":"kitchen_lamp","storageNode":"89c95f8d.4b2b5","x":450,"y":220,"wires":[["e93604e5.fe5018"]]},{"id":"3eb951cb.1694be","type":"persist in","z":"dc7b8a0.0451778","name":"kitchen_lamp","storageNode":"89c95f8d.4b2b5","x":710,"y":300,"wires":[]},{"id":"427959a9.89f6f8","type":"persist in","z":"b67f0cd7.091e3","name":"bathroom_main","storageNode":"89c95f8d.4b2b5","x":780,"y":140,"wires":[]},{"id":"1bfa1a90.bcebd5","type":"persist out","z":"b67f0cd7.091e3","name":"bathroom_main","storageNode":"89c95f8d.4b2b5","x":520,"y":40,"wires":[["5b9e96eb.98a498","eb4f67fe.cc4898"]]},{"id":"fe46d6c1.4d32b8","type":"pin-value","z":"b67f0cd7.091e3","cluster":"ad0e465d.d91c98","name":"pin value 40","pin":"40","x":290,"y":240,"wires":[["e7e30716.e8ff18"]]},{"id":"e7e30716.e8ff18","type":"function","z":"b67f0cd7.091e3","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":500,"y":240,"wires":[["8587dc43.0035f","2f67734.83f588c"]]},{"id":"5e588acd.623814","type":"persist out","z":"b67f0cd7.091e3","name":"bathroom_lamp","storageNode":"89c95f8d.4b2b5","x":520,"y":200,"wires":[["8587dc43.0035f"]]},{"id":"2f67734.83f588c","type":"persist in","z":"b67f0cd7.091e3","name":"bathroom_lamp","storageNode":"89c95f8d.4b2b5","x":780,"y":280,"wires":[]},{"id":"bd006b70.9ce868","type":"pin-value","z":"b67f0cd7.091e3","cluster":"ad0e465d.d91c98","name":"pin value 38","pin":"38","x":290,"y":380,"wires":[["87ca6ada.ea5378"]]},{"id":"87ca6ada.ea5378","type":"function","z":"b67f0cd7.091e3","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":500,"y":380,"wires":[["c8107475.77de58","4f8a3710.899e78"]]},{"id":"7545909f.a9d35","type":"persist out","z":"b67f0cd7.091e3","name":"bathroom_fan","storageNode":"89c95f8d.4b2b5","x":520,"y":340,"wires":[["4f8a3710.899e78"]]},{"id":"c8107475.77de58","type":"persist in","z":"b67f0cd7.091e3","name":"bathroom_fan","storageNode":"89c95f8d.4b2b5","x":780,"y":420,"wires":[]}]