latest2_flows_raspberrypi.json
[{"id":"889e0841.847e88","type":"tab","label":"Init","disabled":false,"info":""},{"id":"fb89e67a.2a0188","type":"tab","label":"Balcony","disabled":false,"info":""},{"id":"beb481.aa427b8","type":"tab","label":"Wash room","disabled":false,"info":""},{"id":"cd3e6a45.2ea1f8","type":"tab","label":"Master bedroom","disabled":false,"info":""},{"id":"11e5692f.3ca837","type":"tab","label":"Small bedroom","disabled":false,"info":""},{"id":"1b8825d.e022fda","type":"tab","label":"Short hallway","disabled":false,"info":""},{"id":"722026ab.b93168","type":"tab","label":"Long hallway","disabled":false,"info":""},{"id":"e620f40.12b6a1","type":"tab","label":"Living room","disabled":false,"info":""},{"id":"dc7b8a0.0451778","type":"tab","label":"Kitchen","disabled":false,"info":""},{"id":"b67f0cd7.091e3","type":"tab","label":"Bathroom","disabled":false,"info":""},{"id":"ad0e465d.d91c98","type":"cluster-configurator","z":"","addresses":"{ \"addresses\": [32, 33, 34, 35, 36, 37, 38, 39] }","initialStates":"{ \"initial_states\": [true, true, true, true, true, true, true, true] }","interrupts":"{ \"interrupts\": [{ \"index\": 1, \"pin\": 17 }, { \"index\": 2, \"pin\": 17 }, { \"index\": 3, \"pin\": 17 }, { \"index\": 4, \"pin\": 17 }] }"},{"id":"89c95f8d.4b2b5","type":"persist-store","z":"","filename":"persistance.json","interval":"2"},{"id":"ff8d7056.18954","type":"xiaomi-configurator","z":"","name":"Xiaomi Hub LH","deviceList":[{"sid":"xxx","desc":"xxx","model":"sensor_ht"},{"sid":"158d00020285ed","desc":"x1","model":"sensor_ht"},{"sid":"158d0001fa4efd","desc":"LivingRoom THS 1","model":"sensor_ht"},{"sid":"158d0001fa5072","desc":"x3","model":"sensor_ht"},{"sid":"158d0001fa4eca","desc":"MasterBedroom THS","model":"sensor_ht"},{"sid":"158d0001fa4eb8","desc":"SmallBedroom THS","model":"sensor_ht"},{"sid":"158d0001fa4f40","desc":"x6","model":"sensor_ht"},{"sid":"158d0001a9789e","desc":"x7","model":"motion"}],"key":"35D70C3337264840"},{"id":"3e50d606.6ae63a","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"galaxy137","name":"mongodb_galaxy137"},{"id":"4a1495a0.e3283c","type":"homekit-bridge","z":"","bridgeName":"Default Bridge","pinCode":"222-22-222","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"2ce54171.15e30e","type":"cluster-in","z":"fb89e67a.2a0188","cluster":"ad0e465d.d91c98","name":"in 8","pin":"8","inverted":false,"x":90,"y":100,"wires":[["22a940d1.ca46a"]]},{"id":"22a940d1.ca46a","type":"pin-value","z":"fb89e67a.2a0188","cluster":"ad0e465d.d91c98","name":"pin value 48","pin":"48","x":250,"y":100,"wires":[["6b0f1ecb.1b216"]]},{"id":"6b0f1ecb.1b216","type":"function","z":"fb89e67a.2a0188","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":420,"y":100,"wires":[["20899f24.b25d9","67bec25c.c9b24c","41181c8d.a1b634"]]},{"id":"67bec25c.c9b24c","type":"cluster-out","z":"fb89e67a.2a0188","cluster":"ad0e465d.d91c98","name":"out 48","pin":"48","inverted":true,"initialValue":false,"x":610,"y":100,"wires":[]},{"id":"60e9e3ae.5b70dc","type":"persist out","z":"fb89e67a.2a0188","name":"balcony","storageNode":"89c95f8d.4b2b5","x":420,"y":60,"wires":[["67bec25c.c9b24c","41181c8d.a1b634"]]},{"id":"20899f24.b25d9","type":"persist in","z":"fb89e67a.2a0188","name":"balcony","storageNode":"89c95f8d.4b2b5","x":620,"y":140,"wires":[]},{"id":"60cfacec.0a95a4","type":"inject","z":"889e0841.847e88","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"1","x":110,"y":100,"wires":[["4332a795.07dc08"]]},{"id":"4332a795.07dc08","type":"function","z":"889e0841.847e88","name":"Set BootDone","func":"global.set(\"boot_done\", true);\nnode.warn('boot_done set');\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":100,"wires":[[]]},{"id":"c4635fcf.78275","type":"inject","z":"889e0841.847e88","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0","x":110,"y":40,"wires":[["ce976293.bf1b4"]]},{"id":"ce976293.bf1b4","type":"function","z":"889e0841.847e88","name":"Reset BootDone","func":"global.set(\"boot_done\", false);\nnode.warn('boot_done reset');\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":40,"wires":[[]]},{"id":"5983d4cb.964e3c","type":"cluster-in","z":"beb481.aa427b8","cluster":"ad0e465d.d91c98","name":"in 4 (Short hallway switch)","pin":"4","inverted":false,"x":170,"y":80,"wires":[["7b5cf35c.c66f0c"]]},{"id":"7b5cf35c.c66f0c","type":"pin-value","z":"beb481.aa427b8","cluster":"ad0e465d.d91c98","name":"pin value 36","pin":"36","x":370,"y":80,"wires":[["1fa25e7b.db2ed2"]]},{"id":"1fa25e7b.db2ed2","type":"function","z":"beb481.aa427b8","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":520,"y":80,"wires":[["62d8cfb1.e44e1","a0ae4d89.00f75","6ea8b78c.ade328"]]},{"id":"a0ae4d89.00f75","type":"cluster-out","z":"beb481.aa427b8","cluster":"ad0e465d.d91c98","name":"out 36","pin":"36","inverted":true,"initialValue":false,"x":730,"y":80,"wires":[]},{"id":"58406a19.5e4f14","type":"cluster-in","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"in 22","pin":"22","inverted":false,"x":130,"y":100,"wires":[["74346cdb.201da4"]]},{"id":"74346cdb.201da4","type":"pin-value","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"pin value 43","pin":"43","x":280,"y":100,"wires":[["53aa0b00.688a24"]]},{"id":"53aa0b00.688a24","type":"function","z":"cd3e6a45.2ea1f8","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":460,"y":100,"wires":[["8cf04254.00044","2262f80c.d6b8e8","d01773ef.0fcd7"]]},{"id":"2262f80c.d6b8e8","type":"cluster-out","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"out 43 (Lamp Left)","pin":"43","inverted":true,"initialValue":false,"x":720,"y":100,"wires":[]},{"id":"1df5c4d9.5c27bb","type":"cluster-in","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"in 13","pin":"13","inverted":false,"x":130,"y":300,"wires":[["8ab99f6a.d2bf4"]]},{"id":"8ab99f6a.d2bf4","type":"pin-value","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"pin value 44","pin":"44","x":280,"y":300,"wires":[["f0725cce.8c279"]]},{"id":"f0725cce.8c279","type":"function","z":"cd3e6a45.2ea1f8","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":480,"y":300,"wires":[["589fd61c.a356c8","366bba9a.0a1d06","2690241c.f583dc"]]},{"id":"366bba9a.0a1d06","type":"cluster-out","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"out 44 (Lamp Right)","pin":"44","inverted":true,"initialValue":false,"x":720,"y":300,"wires":[]},{"id":"460aaf00.e049f","type":"cluster-in","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"in 6 (door)","pin":"6","inverted":false,"x":140,"y":480,"wires":[["4b6f3876.d0bc58"]]},{"id":"4b6f3876.d0bc58","type":"pin-value","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"pin value 45","pin":"45","x":330,"y":520,"wires":[["682dfccb.28ac34"]]},{"id":"682dfccb.28ac34","type":"function","z":"cd3e6a45.2ea1f8","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n//node.warn(bootDone)\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":480,"y":520,"wires":[["122be60c.ba4eca","f8d753b7.32361","6c048cce.1fbbf4"]]},{"id":"f8d753b7.32361","type":"cluster-out","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"out 45 (Spots)","pin":"45","inverted":true,"initialValue":false,"x":720,"y":520,"wires":[]},{"id":"3d7ae95b.c2a1d6","type":"cluster-in","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"in 23","pin":"23","inverted":false,"x":130,"y":520,"wires":[["4b6f3876.d0bc58"]]},{"id":"937ac0ae.1ab67","type":"cluster-in","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"in 24","pin":"24","inverted":false,"x":130,"y":780,"wires":[["596c66fa.4a87a8"]]},{"id":"fae6c4a9.d28e28","type":"cluster-in","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"in 14","pin":"14","inverted":false,"x":130,"y":560,"wires":[["4b6f3876.d0bc58"]]},{"id":"b0eaf7b3.3ca388","type":"cluster-in","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"in 15","pin":"15","inverted":false,"x":130,"y":820,"wires":[["596c66fa.4a87a8"]]},{"id":"955779bf.218798","type":"cluster-in","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"in 7 (door)","pin":"7","inverted":false,"x":140,"y":740,"wires":[["596c66fa.4a87a8"]]},{"id":"596c66fa.4a87a8","type":"pin-value","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"pin value 41","pin":"41","x":330,"y":780,"wires":[["5b68f32f.4babcc"]]},{"id":"5b68f32f.4babcc","type":"function","z":"cd3e6a45.2ea1f8","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n//node.warn(bootDone)\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":480,"y":780,"wires":[["a566cad6.21c698","15a84a30.441586","c8586af1.951088"]]},{"id":"15a84a30.441586","type":"cluster-out","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"out 41 (Rail)","pin":"41","inverted":true,"initialValue":false,"x":710,"y":780,"wires":[]},{"id":"2659a9a.47a4556","type":"cluster-out","z":"cd3e6a45.2ea1f8","cluster":"ad0e465d.d91c98","name":"out 42 (Furniture)","pin":"42","inverted":true,"initialValue":false,"x":730,"y":980,"wires":[]},{"id":"122be60c.ba4eca","type":"persist in","z":"cd3e6a45.2ea1f8","name":"mb_spots","storageNode":"89c95f8d.4b2b5","x":700,"y":560,"wires":[]},{"id":"ddaedd9b.e3a37","type":"persist out","z":"cd3e6a45.2ea1f8","name":"mb_spots","storageNode":"89c95f8d.4b2b5","x":480,"y":480,"wires":[["f8d753b7.32361","6c048cce.1fbbf4"]]},{"id":"a566cad6.21c698","type":"persist in","z":"cd3e6a45.2ea1f8","name":"mb_rail","storageNode":"89c95f8d.4b2b5","x":700,"y":820,"wires":[]},{"id":"f004cd11.a9c75","type":"persist out","z":"cd3e6a45.2ea1f8","name":"mb_rail","storageNode":"89c95f8d.4b2b5","x":480,"y":740,"wires":[["15a84a30.441586","c8586af1.951088"]]},{"id":"589fd61c.a356c8","type":"persist in","z":"cd3e6a45.2ea1f8","name":"mb_lamp_right","storageNode":"89c95f8d.4b2b5","x":710,"y":340,"wires":[]},{"id":"fda9bcaa.683e3","type":"persist out","z":"cd3e6a45.2ea1f8","name":"mb_lamp_right","storageNode":"89c95f8d.4b2b5","x":460,"y":260,"wires":[["366bba9a.0a1d06","2690241c.f583dc"]]},{"id":"8cf04254.00044","type":"persist in","z":"cd3e6a45.2ea1f8","name":"mb_lamp_left","storageNode":"89c95f8d.4b2b5","x":710,"y":140,"wires":[]},{"id":"774c9a0c.b36c54","type":"persist out","z":"cd3e6a45.2ea1f8","name":"mb_lamp_left","storageNode":"89c95f8d.4b2b5","x":440,"y":60,"wires":[["2262f80c.d6b8e8","d01773ef.0fcd7"]]},{"id":"9078f5b.99f6908","type":"cluster-in","z":"11e5692f.3ca837","cluster":"ad0e465d.d91c98","name":"in 2","pin":"2","inverted":false,"x":90,"y":80,"wires":[["9f6b207b.9eecd"]]},{"id":"9f6b207b.9eecd","type":"pin-value","z":"11e5692f.3ca837","cluster":"ad0e465d.d91c98","name":"pin value 46","pin":"46","x":270,"y":100,"wires":[["fa2c98d8.86cd38"]]},{"id":"fa2c98d8.86cd38","type":"function","z":"11e5692f.3ca837","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":420,"y":100,"wires":[["ad7429ed.7efb58","a209018e.fb0e6","4fa31255.d6fd7c"]]},{"id":"a209018e.fb0e6","type":"cluster-out","z":"11e5692f.3ca837","cluster":"ad0e465d.d91c98","name":"out 46 (right)","pin":"46","inverted":true,"initialValue":false,"x":650,"y":100,"wires":[]},{"id":"d2217914.377778","type":"cluster-in","z":"11e5692f.3ca837","cluster":"ad0e465d.d91c98","name":"in 12","pin":"12","inverted":false,"x":90,"y":120,"wires":[["9f6b207b.9eecd"]]},{"id":"1ff786e0.9f9539","type":"cluster-in","z":"11e5692f.3ca837","cluster":"ad0e465d.d91c98","name":"in 3","pin":"3","inverted":false,"x":90,"y":300,"wires":[["121dcd51.5b0353"]]},{"id":"121dcd51.5b0353","type":"pin-value","z":"11e5692f.3ca837","cluster":"ad0e465d.d91c98","name":"pin value 47","pin":"47","x":270,"y":320,"wires":[["4ef90bb7.3a6d94"]]},{"id":"4ef90bb7.3a6d94","type":"function","z":"11e5692f.3ca837","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":420,"y":320,"wires":[["8f9da0a4.1ac6f","a0db8bf8.ddeb68","557fd8a9.19b078"]]},{"id":"a0db8bf8.ddeb68","type":"cluster-out","z":"11e5692f.3ca837","cluster":"ad0e465d.d91c98","name":"out 47 (left)","pin":"47","inverted":true,"initialValue":false,"x":650,"y":320,"wires":[]},{"id":"8efcbce.9189a4","type":"cluster-in","z":"11e5692f.3ca837","cluster":"ad0e465d.d91c98","name":"in 17","pin":"17","inverted":false,"x":90,"y":340,"wires":[["121dcd51.5b0353"]]},{"id":"1926878b.a0e528","type":"cluster-in","z":"1b8825d.e022fda","cluster":"ad0e465d.d91c98","name":"in 9 (Short hallway switch)","pin":"9","inverted":false,"x":150,"y":120,"wires":[["91efa61d.bc0788"]]},{"id":"91efa61d.bc0788","type":"pin-value","z":"1b8825d.e022fda","cluster":"ad0e465d.d91c98","name":"pin value 34","pin":"34","x":390,"y":140,"wires":[["c6855a9c.d1f938"]]},{"id":"c6855a9c.d1f938","type":"function","z":"1b8825d.e022fda","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":540,"y":140,"wires":[["b40879c7.115508","baf748f1.d8e0d8","d9ed6705.f19fb8"]]},{"id":"b40879c7.115508","type":"cluster-out","z":"1b8825d.e022fda","cluster":"ad0e465d.d91c98","name":"out 34","pin":"34","inverted":true,"initialValue":false,"x":770,"y":140,"wires":[]},{"id":"87288f6.f6b2f7","type":"cluster-in","z":"1b8825d.e022fda","cluster":"ad0e465d.d91c98","name":"in 32 (Long hallway switch)","pin":"32","inverted":false,"x":150,"y":160,"wires":[["91efa61d.bc0788"]]},{"id":"c1b0a08.45ca96","type":"cluster-in","z":"722026ab.b93168","cluster":"ad0e465d.d91c98","name":"in 21 (Long hallway switch)","pin":"21","inverted":false,"x":150,"y":100,"wires":[["d41f7bdf.208548"]]},{"id":"d41f7bdf.208548","type":"pin-value","z":"722026ab.b93168","cluster":"ad0e465d.d91c98","name":"pin value 35","pin":"35","x":370,"y":100,"wires":[["1e25a98d.254316"]]},{"id":"1e25a98d.254316","type":"function","z":"722026ab.b93168","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":540,"y":100,"wires":[["f8c13665.fe4118","9532e305.545e5","162a1fc8.fe6"]]},{"id":"f8c13665.fe4118","type":"cluster-out","z":"722026ab.b93168","cluster":"ad0e465d.d91c98","name":"out 35","pin":"35","inverted":true,"initialValue":false,"x":730,"y":100,"wires":[]},{"id":"e7ff95ae.a4af68","type":"cluster-in","z":"e620f40.12b6a1","cluster":"ad0e465d.d91c98","name":"in 20","pin":"20","inverted":false,"x":90,"y":540,"wires":[["4cc03ae7.ae6e74"]]},{"id":"4cc03ae7.ae6e74","type":"pin-value","z":"e620f40.12b6a1","cluster":"ad0e465d.d91c98","name":"pin value 52","pin":"52","x":250,"y":540,"wires":[["9e490c6b.4fa44"]]},{"id":"9e490c6b.4fa44","type":"function","z":"e620f40.12b6a1","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":420,"y":540,"wires":[["fd53645f.b723f8","5fcd49f7.c70578","53f574ae.97565c"]]},{"id":"fd53645f.b723f8","type":"cluster-out","z":"e620f40.12b6a1","cluster":"ad0e465d.d91c98","name":"out 52 (spots)","pin":"52","inverted":true,"initialValue":false,"x":640,"y":540,"wires":[]},{"id":"8e25d9da.f0dad8","type":"cluster-in","z":"e620f40.12b6a1","cluster":"ad0e465d.d91c98","name":"in 18","pin":"18","inverted":false,"x":90,"y":100,"wires":[["b6b0438b.d6dee"]]},{"id":"b6b0438b.d6dee","type":"pin-value","z":"e620f40.12b6a1","cluster":"ad0e465d.d91c98","name":"pin value 50","pin":"50","x":250,"y":100,"wires":[["2d3a842c.30c9ac"]]},{"id":"2d3a842c.30c9ac","type":"function","z":"e620f40.12b6a1","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":420,"y":100,"wires":[["f0f7c4d7.09a5a8","d8ce1c24.334c4","5b862a64.c94834"]]},{"id":"f0f7c4d7.09a5a8","type":"cluster-out","z":"e620f40.12b6a1","cluster":"ad0e465d.d91c98","name":"out 50 (rail)","pin":"50","inverted":true,"initialValue":false,"x":630,"y":100,"wires":[]},{"id":"301a53dc.7ee19c","type":"cluster-in","z":"e620f40.12b6a1","cluster":"ad0e465d.d91c98","name":"in 19","pin":"19","inverted":false,"x":90,"y":320,"wires":[["11eb93a2.fade0c"]]},{"id":"11eb93a2.fade0c","type":"pin-value","z":"e620f40.12b6a1","cluster":"ad0e465d.d91c98","name":"pin value 51","pin":"51","x":250,"y":320,"wires":[["6bd95a94.e53ac4"]]},{"id":"6bd95a94.e53ac4","type":"function","z":"e620f40.12b6a1","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":420,"y":320,"wires":[["11cf3cd8.e9c283","e9f208a1.5bb688","f9d88531.e07478"]]},{"id":"11cf3cd8.e9c283","type":"cluster-out","z":"e620f40.12b6a1","cluster":"ad0e465d.d91c98","name":"out 51(lamp)","pin":"51","inverted":true,"initialValue":false,"x":630,"y":320,"wires":[]},{"id":"bcba7599.1cbb18","type":"cluster-in","z":"dc7b8a0.0451778","cluster":"ad0e465d.d91c98","name":"in 10","pin":"10","inverted":false,"x":110,"y":120,"wires":[["5f74cf0e.7fa7e"]]},{"id":"5f74cf0e.7fa7e","type":"pin-value","z":"dc7b8a0.0451778","cluster":"ad0e465d.d91c98","name":"pin value 54","pin":"54","x":270,"y":120,"wires":[["5d0ebf7e.23d97"]]},{"id":"5d0ebf7e.23d97","type":"function","z":"dc7b8a0.0451778","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":440,"y":120,"wires":[["3d5f8a7f.0e96b6","4d542129.d773d","b42b594b.129968"]]},{"id":"3d5f8a7f.0e96b6","type":"cluster-out","z":"dc7b8a0.0451778","cluster":"ad0e465d.d91c98","name":"out 54 (rail)","pin":"54","inverted":true,"initialValue":false,"x":710,"y":120,"wires":[]},{"id":"485ff250.d58eec","type":"cluster-in","z":"dc7b8a0.0451778","cluster":"ad0e465d.d91c98","name":"in 11","pin":"11","inverted":false,"x":110,"y":380,"wires":[["aa10dfbe.77292"]]},{"id":"aa10dfbe.77292","type":"pin-value","z":"dc7b8a0.0451778","cluster":"ad0e465d.d91c98","name":"pin value 55","pin":"55","x":270,"y":380,"wires":[["31d555a8.023d2a"]]},{"id":"31d555a8.023d2a","type":"function","z":"dc7b8a0.0451778","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":440,"y":380,"wires":[["e93604e5.fe5018","3eb951cb.1694be","5c3837bf.1299c8"]]},{"id":"e93604e5.fe5018","type":"cluster-out","z":"dc7b8a0.0451778","cluster":"ad0e465d.d91c98","name":"out 55 (lamps)","pin":"55","inverted":true,"initialValue":false,"x":720,"y":380,"wires":[]},{"id":"190c7584.c5849a","type":"cluster-out","z":"dc7b8a0.0451778","cluster":"ad0e465d.d91c98","name":"out 53 (Furniture)","pin":"53","inverted":true,"initialValue":false,"x":730,"y":620,"wires":[]},{"id":"e20ffd3b.dc323","type":"cluster-in","z":"b67f0cd7.091e3","cluster":"ad0e465d.d91c98","name":"in 5 fan","pin":"5","inverted":false,"x":90,"y":600,"wires":[["bd006b70.9ce868"]]},{"id":"bd1cf1b9.dcec6","type":"cluster-in","z":"b67f0cd7.091e3","cluster":"ad0e465d.d91c98","name":"in 16 lamp","pin":"16","inverted":false,"x":100,"y":340,"wires":[["fe46d6c1.4d32b8"]]},{"id":"93f8519a.42ed2","type":"cluster-in","z":"b67f0cd7.091e3","cluster":"ad0e465d.d91c98","name":"in 1 (door)","pin":"1","inverted":false,"x":100,"y":80,"wires":[["4f44e4b.b9c6d1c"]]},{"id":"5b9e96eb.98a498","type":"cluster-out","z":"b67f0cd7.091e3","cluster":"ad0e465d.d91c98","name":"out 37 left","pin":"37","inverted":true,"initialValue":false,"x":760,"y":60,"wires":[]},{"id":"4f8a3710.899e78","type":"cluster-out","z":"b67f0cd7.091e3","cluster":"ad0e465d.d91c98","name":"out 38 fan","pin":"38","inverted":true,"initialValue":false,"x":760,"y":600,"wires":[]},{"id":"eb4f67fe.cc4898","type":"cluster-out","z":"b67f0cd7.091e3","cluster":"ad0e465d.d91c98","name":"out 39 right","pin":"39","inverted":true,"initialValue":false,"x":770,"y":100,"wires":[]},{"id":"8587dc43.0035f","type":"cluster-out","z":"b67f0cd7.091e3","cluster":"ad0e465d.d91c98","name":"out 40 lamp","pin":"40","inverted":true,"initialValue":false,"x":770,"y":340,"wires":[]},{"id":"4f44e4b.b9c6d1c","type":"pin-value","z":"b67f0cd7.091e3","cluster":"ad0e465d.d91c98","name":"pin value 37","pin":"37","x":290,"y":80,"wires":[["2c1f2855.ddf8f8"]]},{"id":"2c1f2855.ddf8f8","type":"function","z":"b67f0cd7.091e3","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":500,"y":80,"wires":[["5b9e96eb.98a498","eb4f67fe.cc4898","427959a9.89f6f8","7ccc72b7.70f72c"]]},{"id":"4ede721a.9589ac","type":"persist out","z":"beb481.aa427b8","name":"wash_room","storageNode":"89c95f8d.4b2b5","x":510,"y":40,"wires":[["a0ae4d89.00f75","6ea8b78c.ade328"]]},{"id":"62d8cfb1.e44e1","type":"persist in","z":"beb481.aa427b8","name":"wash_room","storageNode":"89c95f8d.4b2b5","x":750,"y":120,"wires":[]},{"id":"c29cee05.ed994","type":"persist out","z":"11e5692f.3ca837","name":"sb_right","storageNode":"89c95f8d.4b2b5","x":420,"y":60,"wires":[["a209018e.fb0e6","4fa31255.d6fd7c"]]},{"id":"ad7429ed.7efb58","type":"persist in","z":"11e5692f.3ca837","name":"sb_right","storageNode":"89c95f8d.4b2b5","x":640,"y":140,"wires":[]},{"id":"733cd43a.350b3c","type":"persist out","z":"11e5692f.3ca837","name":"sb_left","storageNode":"89c95f8d.4b2b5","x":430,"y":280,"wires":[["a0db8bf8.ddeb68","557fd8a9.19b078"]]},{"id":"8f9da0a4.1ac6f","type":"persist in","z":"11e5692f.3ca837","name":"sb_left","storageNode":"89c95f8d.4b2b5","x":630,"y":360,"wires":[]},{"id":"46d1477c.def088","type":"persist out","z":"1b8825d.e022fda","name":"short_hallway","storageNode":"89c95f8d.4b2b5","x":560,"y":100,"wires":[["b40879c7.115508","d9ed6705.f19fb8"]]},{"id":"baf748f1.d8e0d8","type":"persist in","z":"1b8825d.e022fda","name":"short_hallway","storageNode":"89c95f8d.4b2b5","x":800,"y":180,"wires":[]},{"id":"9532e305.545e5","type":"persist in","z":"722026ab.b93168","name":"long_hallway","storageNode":"89c95f8d.4b2b5","x":750,"y":140,"wires":[]},{"id":"b4786c8.8cac69","type":"persist out","z":"722026ab.b93168","name":"long_hallway","storageNode":"89c95f8d.4b2b5","x":550,"y":60,"wires":[["f8c13665.fe4118","162a1fc8.fe6"]]},{"id":"e5b2e052.77c7b","type":"persist out","z":"e620f40.12b6a1","name":"lr_rail","storageNode":"89c95f8d.4b2b5","x":430,"y":60,"wires":[["f0f7c4d7.09a5a8","5b862a64.c94834"]]},{"id":"d8ce1c24.334c4","type":"persist in","z":"e620f40.12b6a1","name":"lr_rail","storageNode":"89c95f8d.4b2b5","x":610,"y":140,"wires":[]},{"id":"7c906e84.5c888","type":"persist out","z":"e620f40.12b6a1","name":"lr_spot","storageNode":"89c95f8d.4b2b5","x":430,"y":500,"wires":[["fd53645f.b723f8","53f574ae.97565c"]]},{"id":"5fcd49f7.c70578","type":"persist in","z":"e620f40.12b6a1","name":"lr_spot","storageNode":"89c95f8d.4b2b5","x":610,"y":580,"wires":[]},{"id":"e69dc98b.9b60b8","type":"persist out","z":"e620f40.12b6a1","name":"lr_lamp","storageNode":"89c95f8d.4b2b5","x":420,"y":280,"wires":[["11cf3cd8.e9c283","f9d88531.e07478"]]},{"id":"e9f208a1.5bb688","type":"persist in","z":"e620f40.12b6a1","name":"lr_lamp","storageNode":"89c95f8d.4b2b5","x":620,"y":360,"wires":[]},{"id":"db5692b1.8739","type":"persist out","z":"dc7b8a0.0451778","name":"kitchen_rail","storageNode":"89c95f8d.4b2b5","x":450,"y":80,"wires":[["3d5f8a7f.0e96b6","b42b594b.129968"]]},{"id":"4d542129.d773d","type":"persist in","z":"dc7b8a0.0451778","name":"kitchen_rail","storageNode":"89c95f8d.4b2b5","x":710,"y":160,"wires":[]},{"id":"96c7ba01.f3bd58","type":"persist out","z":"dc7b8a0.0451778","name":"kitchen_lamp","storageNode":"89c95f8d.4b2b5","x":450,"y":340,"wires":[["e93604e5.fe5018","5c3837bf.1299c8"]]},{"id":"3eb951cb.1694be","type":"persist in","z":"dc7b8a0.0451778","name":"kitchen_lamp","storageNode":"89c95f8d.4b2b5","x":710,"y":420,"wires":[]},{"id":"427959a9.89f6f8","type":"persist in","z":"b67f0cd7.091e3","name":"bathroom_main","storageNode":"89c95f8d.4b2b5","x":780,"y":140,"wires":[]},{"id":"1bfa1a90.bcebd5","type":"persist out","z":"b67f0cd7.091e3","name":"bathroom_main","storageNode":"89c95f8d.4b2b5","x":480,"y":40,"wires":[["5b9e96eb.98a498","eb4f67fe.cc4898","7ccc72b7.70f72c"]]},{"id":"fe46d6c1.4d32b8","type":"pin-value","z":"b67f0cd7.091e3","cluster":"ad0e465d.d91c98","name":"pin value 40","pin":"40","x":290,"y":340,"wires":[["e7e30716.e8ff18"]]},{"id":"e7e30716.e8ff18","type":"function","z":"b67f0cd7.091e3","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":500,"y":340,"wires":[["8587dc43.0035f","2f67734.83f588c","90db960f.bd0cf8"]]},{"id":"5e588acd.623814","type":"persist out","z":"b67f0cd7.091e3","name":"bathroom_lamp","storageNode":"89c95f8d.4b2b5","x":480,"y":300,"wires":[["8587dc43.0035f","90db960f.bd0cf8"]]},{"id":"2f67734.83f588c","type":"persist in","z":"b67f0cd7.091e3","name":"bathroom_lamp","storageNode":"89c95f8d.4b2b5","x":780,"y":380,"wires":[]},{"id":"bd006b70.9ce868","type":"pin-value","z":"b67f0cd7.091e3","cluster":"ad0e465d.d91c98","name":"pin value 38","pin":"38","x":290,"y":600,"wires":[["87ca6ada.ea5378"]]},{"id":"87ca6ada.ea5378","type":"function","z":"b67f0cd7.091e3","name":"reverse","func":"let bootDone = global.get(\"boot_done\"); \n\nif (bootDone) {\n    msg.payload.value = !msg.payload.pin_value;\n    return msg;\n}","outputs":1,"noerr":0,"x":500,"y":600,"wires":[["c8107475.77de58","4f8a3710.899e78","ced908f7.d84858"]]},{"id":"7545909f.a9d35","type":"persist out","z":"b67f0cd7.091e3","name":"bathroom_fan","storageNode":"89c95f8d.4b2b5","x":480,"y":560,"wires":[["4f8a3710.899e78","ced908f7.d84858"]]},{"id":"c8107475.77de58","type":"persist in","z":"b67f0cd7.091e3","name":"bathroom_fan","storageNode":"89c95f8d.4b2b5","x":780,"y":640,"wires":[]},{"id":"307a03c8.82e41c","type":"udp in","z":"889e0841.847e88","name":"Xiaomi Hub","iface":"","port":"9898","ipv":"udp4","multicast":"true","group":"224.0.0.50","datatype":"utf8","x":110,"y":160,"wires":[["f4b73acb.2afb18"]]},{"id":"7b15f4a2.a586fc","type":"link out","z":"889e0841.847e88","name":"XiaomiHub","links":["8009fc41.407e6","8ae1673e.7e3908","688f5c5c.0ef784","7275ef5b.21351","d09b56f3.7ff7a8"],"x":375,"y":160,"wires":[]},{"id":"f4b73acb.2afb18","type":"json","z":"889e0841.847e88","name":"","property":"payload","action":"","pretty":false,"x":270,"y":160,"wires":[["7b15f4a2.a586fc"]]},{"id":"48e9ae4f.db895","type":"xiaomi-ht","z":"cd3e6a45.2ea1f8","gateway":"ff8d7056.18954","name":"Master Bedroom","sid":"158d0001fa4eca","temperature":"{{temperature}}","humidity":"{{humidity}}","divide":true,"output":"0","x":390,"y":1780,"wires":[["53c85ca5.0d6334","6b0df3fa.b819bc","2a3d1608.ae0dba"],[]]},{"id":"491167ce.9725a8","type":"homekit-service","z":"cd3e6a45.2ea1f8","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Temperature","serviceName":"TemperatureSensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":650,"y":1920,"wires":[[]]},{"id":"53c85ca5.0d6334","type":"function","z":"cd3e6a45.2ea1f8","name":"Temperature to HAP","func":"let HAP = { payload: {} };\nlet data = JSON.parse(msg.payload.data);\n\nHAP.payload.StatusActive = true;\n\nif (data.temperature) {\n    let value = parseFloat(data.temperature / 100);\n    HAP.payload.CurrentTemperature = value;\n    \n    return HAP;\n}","outputs":1,"noerr":0,"x":380,"y":1880,"wires":[["491167ce.9725a8"]]},{"id":"c5d477be.54aed8","type":"homekit-service","z":"cd3e6a45.2ea1f8","isParent":false,"bridge":"4a1495a0.e3283c","parentService":"491167ce.9725a8","name":"Temp Battery","serviceName":"BatteryService","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":650,"y":2000,"wires":[[]]},{"id":"6b0df3fa.b819bc","type":"function","z":"cd3e6a45.2ea1f8","name":"Humidity to HAP","func":"let HAP = { payload: {} };\nlet data = JSON.parse(msg.payload.data);\n\nHAP.payload.StatusActive = true;\n\nif (data.humidity) {\n    let value = parseFloat(data.humidity / 100);\n    HAP.payload.CurrentRelativeHumidity = value;\n    \n    return HAP;\n}","outputs":1,"noerr":0,"x":370,"y":1920,"wires":[["726df3b9.f5d31c"]]},{"id":"726df3b9.f5d31c","type":"homekit-service","z":"cd3e6a45.2ea1f8","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Humidity","serviceName":"HumiditySensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":640,"y":1960,"wires":[[]]},{"id":"10069ad0.004a75","type":"homekit-service","z":"cd3e6a45.2ea1f8","isParent":false,"bridge":"4a1495a0.e3283c","parentService":"726df3b9.f5d31c","name":"Humidity Battery","serviceName":"BatteryService","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":670,"y":2040,"wires":[[]]},{"id":"8ae1673e.7e3908","type":"link in","z":"cd3e6a45.2ea1f8","name":"XiaomiHub","links":["7b15f4a2.a586fc"],"x":175,"y":1700,"wires":[["48e9ae4f.db895"]]},{"id":"cfe2ea96.468f98","type":"xiaomi-ht","z":"e620f40.12b6a1","gateway":"ff8d7056.18954","name":"Living Room 1","sid":"158d0001fa4efd","temperature":"{{temperature}}","humidity":"{{humidity}}","divide":true,"output":"0","x":380,"y":1160,"wires":[["402b9b5a.518ae4","1ef1b2a.2f1404d","c09ad16.7a2603"],[]]},{"id":"2301dcf3.23bbc4","type":"homekit-service","z":"e620f40.12b6a1","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Temperature","serviceName":"TemperatureSensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":650,"y":1300,"wires":[[]]},{"id":"402b9b5a.518ae4","type":"function","z":"e620f40.12b6a1","name":"Temperature to HAP","func":"let HAP = { payload: {} };\nlet data = JSON.parse(msg.payload.data);\n\nHAP.payload.StatusActive = true;\n\nif (data.temperature) {\n    let value = parseFloat(data.temperature / 100);\n    HAP.payload.CurrentTemperature = value;\n    \n    return HAP;\n}","outputs":1,"noerr":0,"x":380,"y":1260,"wires":[["2301dcf3.23bbc4"]]},{"id":"d55c4b6d.171e38","type":"homekit-service","z":"e620f40.12b6a1","isParent":false,"bridge":"4a1495a0.e3283c","parentService":"2301dcf3.23bbc4","name":"Temp Battery","serviceName":"BatteryService","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":650,"y":1380,"wires":[[]]},{"id":"1ef1b2a.2f1404d","type":"function","z":"e620f40.12b6a1","name":"Humidity to HAP","func":"let HAP = { payload: {} };\nlet data = JSON.parse(msg.payload.data);\n\nHAP.payload.StatusActive = true;\n\nif (data.humidity) {\n    let value = parseFloat(data.humidity / 100);\n    HAP.payload.CurrentRelativeHumidity = value;\n    \n    return HAP;\n}","outputs":1,"noerr":0,"x":370,"y":1300,"wires":[["8725e2a7.a68b9"]]},{"id":"8725e2a7.a68b9","type":"homekit-service","z":"e620f40.12b6a1","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Humidity","serviceName":"HumiditySensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":640,"y":1340,"wires":[[]]},{"id":"c09ad16.7a2603","type":"function","z":"e620f40.12b6a1","name":"Battery to HAP","func":"let HAP = { payload: {} };\nlet data = JSON.parse(msg.payload.data);\n\nif (data.voltage) {\n    const MIN_VOLTAGE = 2700;\n    const MAX_VOLTAGE = 3300;\n    const DIFF = MAX_VOLTAGE - MIN_VOLTAGE;\n    \n    let value = data.voltage;\n    \n    if (value < MIN_VOLTAGE) {\n        value = MIN_VOLTAGE;\n    } else if (value > MAX_VOLTAGE) {\n        value = MAX_VOLTAGE;\n    }\n    \n    HAP.payload.StatusLowBattery = false;\n    \n    if (value <= MIN_VOLTAGE) {\n        HAP.payload.StatusLowBattery = true;\n    }\n    \n    let level = 100 - (((MAX_VOLTAGE - value) / DIFF) * 100);\n    \n    HAP.payload.BatteryLevel = Math.round(level);\n    \n    return HAP;\n}","outputs":1,"noerr":0,"x":360,"y":1340,"wires":[["d55c4b6d.171e38","e32b90b.2f3397"]]},{"id":"e32b90b.2f3397","type":"homekit-service","z":"e620f40.12b6a1","isParent":false,"bridge":"4a1495a0.e3283c","parentService":"8725e2a7.a68b9","name":"Humidity Battery","serviceName":"BatteryService","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":670,"y":1420,"wires":[[]]},{"id":"688f5c5c.0ef784","type":"link in","z":"e620f40.12b6a1","name":"XiaomiHub","links":["7b15f4a2.a586fc"],"x":175,"y":1080,"wires":[["cfe2ea96.468f98"]]},{"id":"13752998.c59c86","type":"homekit-service","z":"fb89e67a.2a0188","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Light","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":410,"y":240,"wires":[["c0d0e4b0.0c5598"]]},{"id":"41181c8d.a1b634","type":"function","z":"fb89e67a.2a0188","name":"PCF to HAP","func":"let HAP = { payload: {} };\n\nlet value = msg.payload.value;\nHAP.payload.On = value;\nHAP.payload.Context = 'NO_OUTPUT';\n\nreturn HAP;","outputs":1,"noerr":0,"x":230,"y":240,"wires":[["13752998.c59c86"]]},{"id":"c0d0e4b0.0c5598","type":"function","z":"fb89e67a.2a0188","name":"HAP to PCF","func":"if (msg.hap.context != 'NO_OUTPUT') {\n    msg.payload.value = msg.payload.On;\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["22a940d1.ca46a"]]},{"id":"54b7d086.8978c","type":"homekit-service","z":"1b8825d.e022fda","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Light","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":430,"y":300,"wires":[["7df005e1.d7f9ec"]]},{"id":"d9ed6705.f19fb8","type":"function","z":"1b8825d.e022fda","name":"PCF to HAP","func":"let HAP = { payload: {} };\n\nlet value = msg.payload.value;\nHAP.payload.On = value;\nHAP.payload.Context = 'NO_OUTPUT';\n\nreturn HAP;","outputs":1,"noerr":0,"x":250,"y":300,"wires":[["54b7d086.8978c"]]},{"id":"7df005e1.d7f9ec","type":"function","z":"1b8825d.e022fda","name":"HAP to PCF","func":"if (msg.hap.context != 'NO_OUTPUT') {\n    msg.payload.value = msg.payload.On;\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":590,"y":300,"wires":[["91efa61d.bc0788"]]},{"id":"682a6604.6a2028","type":"homekit-service","z":"722026ab.b93168","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Light","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":450,"y":220,"wires":[["77b16f3.ef2559"]]},{"id":"162a1fc8.fe6","type":"function","z":"722026ab.b93168","name":"PCF to HAP","func":"let HAP = { payload: {} };\n\nlet value = msg.payload.value;\nHAP.payload.On = value;\nHAP.payload.Context = 'NO_OUTPUT';\n\nreturn HAP;","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["682a6604.6a2028"]]},{"id":"77b16f3.ef2559","type":"function","z":"722026ab.b93168","name":"HAP to PCF","func":"if (msg.hap.context != 'NO_OUTPUT') {\n    msg.payload.value = msg.payload.On;\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["d41f7bdf.208548"]]},{"id":"b0f0e0ba.d5c22","type":"homekit-service","z":"dc7b8a0.0451778","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Rail Light","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":420,"y":240,"wires":[["a8688759.be1148"]]},{"id":"b42b594b.129968","type":"function","z":"dc7b8a0.0451778","name":"PCF to HAP","func":"let HAP = { payload: {} };\n\nlet value = msg.payload.value;\nHAP.payload.On = value;\nHAP.payload.Context = 'NO_OUTPUT';\n\nreturn HAP;","outputs":1,"noerr":0,"x":250,"y":240,"wires":[["b0f0e0ba.d5c22"]]},{"id":"a8688759.be1148","type":"function","z":"dc7b8a0.0451778","name":"HAP to PCF","func":"if (msg.hap.context != 'NO_OUTPUT') {\n    msg.payload.value = msg.payload.On;\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":590,"y":240,"wires":[["5f74cf0e.7fa7e"]]},{"id":"2b67986f.1d2948","type":"homekit-service","z":"dc7b8a0.0451778","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Light","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":450,"y":500,"wires":[["9d9169d6.006a08"]]},{"id":"5c3837bf.1299c8","type":"function","z":"dc7b8a0.0451778","name":"PCF to HAP","func":"let HAP = { payload: {} };\n\nlet value = msg.payload.value;\nHAP.payload.On = value;\nHAP.payload.Context = 'NO_OUTPUT';\n\nreturn HAP;","outputs":1,"noerr":0,"x":270,"y":500,"wires":[["2b67986f.1d2948"]]},{"id":"9d9169d6.006a08","type":"function","z":"dc7b8a0.0451778","name":"HAP to PCF","func":"if (msg.hap.context != 'NO_OUTPUT') {\n    msg.payload.value = msg.payload.On;\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":610,"y":500,"wires":[["aa10dfbe.77292"]]},{"id":"739cd4e8.c63f2c","type":"homekit-service","z":"e620f40.12b6a1","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Rail Light","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":420,"y":200,"wires":[["ad57430a.edfbf"]]},{"id":"5b862a64.c94834","type":"function","z":"e620f40.12b6a1","name":"PCF to HAP","func":"let HAP = { payload: {} };\n\nlet value = msg.payload.value;\nHAP.payload.On = value;\nHAP.payload.Context = 'NO_OUTPUT';\n\nreturn HAP;","outputs":1,"noerr":0,"x":250,"y":200,"wires":[["739cd4e8.c63f2c"]]},{"id":"ad57430a.edfbf","type":"function","z":"e620f40.12b6a1","name":"HAP to PCF","func":"if (msg.hap.context != 'NO_OUTPUT') {\n    msg.payload.value = msg.payload.On;\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["b6b0438b.d6dee"]]},{"id":"3fca3697.76634a","type":"homekit-service","z":"e620f40.12b6a1","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Lamp","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":410,"y":420,"wires":[["f2239468.706658"]]},{"id":"f9d88531.e07478","type":"function","z":"e620f40.12b6a1","name":"PCF to HAP","func":"let HAP = { payload: {} };\n\nlet value = msg.payload.value;\nHAP.payload.On = value;\nHAP.payload.Context = 'NO_OUTPUT';\n\nreturn HAP;","outputs":1,"noerr":0,"x":250,"y":420,"wires":[["3fca3697.76634a"]]},{"id":"f2239468.706658","type":"function","z":"e620f40.12b6a1","name":"HAP to PCF","func":"if (msg.hap.context != 'NO_OUTPUT') {\n    msg.payload.value = msg.payload.On;\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":590,"y":420,"wires":[["11eb93a2.fade0c"]]},{"id":"1549c27b.dec2ae","type":"homekit-service","z":"e620f40.12b6a1","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Spots","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":410,"y":640,"wires":[["9cee3fb5.08661"]]},{"id":"53f574ae.97565c","type":"function","z":"e620f40.12b6a1","name":"PCF to HAP","func":"let HAP = { payload: {} };\n\nlet value = msg.payload.value;\nHAP.payload.On = value;\nHAP.payload.Context = 'NO_OUTPUT';\n\nreturn HAP;","outputs":1,"noerr":0,"x":250,"y":640,"wires":[["1549c27b.dec2ae"]]},{"id":"9cee3fb5.08661","type":"function","z":"e620f40.12b6a1","name":"HAP to PCF","func":"if (msg.hap.context != 'NO_OUTPUT') {\n    msg.payload.value = msg.payload.On;\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":590,"y":640,"wires":[["4cc03ae7.ae6e74"]]},{"id":"61c6dd94.a7d0c4","type":"homekit-service","z":"b67f0cd7.091e3","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Light","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":350,"y":160,"wires":[["f8b7abcb.815d38"]]},{"id":"7ccc72b7.70f72c","type":"function","z":"b67f0cd7.091e3","name":"PCF to HAP","func":"let HAP = { payload: {} };\n\nlet value = msg.payload.value;\nHAP.payload.On = value;\nHAP.payload.Context = 'NO_OUTPUT';\n\nreturn HAP;","outputs":1,"noerr":0,"x":190,"y":160,"wires":[["61c6dd94.a7d0c4"]]},{"id":"f8b7abcb.815d38","type":"function","z":"b67f0cd7.091e3","name":"HAP to PCF","func":"if (msg.hap.context != 'NO_OUTPUT') {\n    msg.payload.value = msg.payload.On;\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["4f44e4b.b9c6d1c"]]},{"id":"6e11bf15.d0891","type":"homekit-service","z":"b67f0cd7.091e3","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Lamp","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":390,"y":400,"wires":[["4c208b66.8999e4"]]},{"id":"90db960f.bd0cf8","type":"function","z":"b67f0cd7.091e3","name":"PCF to HAP","func":"let HAP = { payload: {} };\n\nlet value = msg.payload.value;\nHAP.payload.On = value;\nHAP.payload.Context = 'NO_OUTPUT';\n\nreturn HAP;","outputs":1,"noerr":0,"x":230,"y":400,"wires":[["6e11bf15.d0891"]]},{"id":"4c208b66.8999e4","type":"function","z":"b67f0cd7.091e3","name":"HAP to PCF","func":"if (msg.hap.context != 'NO_OUTPUT') {\n    msg.payload.value = msg.payload.On;\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":550,"y":400,"wires":[["fe46d6c1.4d32b8"]]},{"id":"cfec769a.a2b588","type":"homekit-service","z":"beb481.aa427b8","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Light","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":390,"y":160,"wires":[["85477848.828c48"]]},{"id":"6ea8b78c.ade328","type":"function","z":"beb481.aa427b8","name":"PCF to HAP","func":"let HAP = { payload: {} };\n\nlet value = msg.payload.value;\nHAP.payload.On = value;\nHAP.payload.Context = 'NO_OUTPUT';\n\nreturn HAP;","outputs":1,"noerr":0,"x":210,"y":160,"wires":[["cfec769a.a2b588"]]},{"id":"85477848.828c48","type":"function","z":"beb481.aa427b8","name":"HAP to PCF","func":"if (msg.hap.context != 'NO_OUTPUT') {\n    msg.payload.value = msg.payload.On;\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":550,"y":160,"wires":[["7b5cf35c.c66f0c"]]},{"id":"b06f9e8f.2b023","type":"homekit-service","z":"11e5692f.3ca837","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Right","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":390,"y":200,"wires":[["d116f25d.e2ebf"]]},{"id":"4fa31255.d6fd7c","type":"function","z":"11e5692f.3ca837","name":"PCF to HAP","func":"let HAP = { payload: {} };\n\nlet value = msg.payload.value;\nHAP.payload.On = value;\nHAP.payload.Context = 'NO_OUTPUT';\n\nreturn HAP;","outputs":1,"noerr":0,"x":210,"y":200,"wires":[["b06f9e8f.2b023"]]},{"id":"d116f25d.e2ebf","type":"function","z":"11e5692f.3ca837","name":"HAP to PCF","func":"if (msg.hap.context != 'NO_OUTPUT') {\n    msg.payload.value = msg.payload.On;\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["9f6b207b.9eecd"]]},{"id":"5666f9a1.677bc8","type":"homekit-service","z":"11e5692f.3ca837","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Left","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":390,"y":420,"wires":[["446a568f.a281d8"]]},{"id":"557fd8a9.19b078","type":"function","z":"11e5692f.3ca837","name":"PCF to HAP","func":"let HAP = { payload: {} };\n\nlet value = msg.payload.value;\nHAP.payload.On = value;\nHAP.payload.Context = 'NO_OUTPUT';\n\nreturn HAP;","outputs":1,"noerr":0,"x":210,"y":420,"wires":[["5666f9a1.677bc8"]]},{"id":"446a568f.a281d8","type":"function","z":"11e5692f.3ca837","name":"HAP to PCF","func":"if (msg.hap.context != 'NO_OUTPUT') {\n    msg.payload.value = msg.payload.On;\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":550,"y":420,"wires":[["121dcd51.5b0353"]]},{"id":"4c61b904.4d8de8","type":"homekit-service","z":"cd3e6a45.2ea1f8","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Lamp Left","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":380,"y":180,"wires":[["43c857c0.39de58"]]},{"id":"d01773ef.0fcd7","type":"function","z":"cd3e6a45.2ea1f8","name":"PCF to HAP","func":"let HAP = { payload: {} };\n\nlet value = msg.payload.value;\nHAP.payload.On = value;\nHAP.payload.Context = 'NO_OUTPUT';\n\nreturn HAP;","outputs":1,"noerr":0,"x":190,"y":180,"wires":[["4c61b904.4d8de8"]]},{"id":"43c857c0.39de58","type":"function","z":"cd3e6a45.2ea1f8","name":"HAP to PCF","func":"if (msg.hap.context != 'NO_OUTPUT') {\n    msg.payload.value = msg.payload.On;\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":530,"y":180,"wires":[["74346cdb.201da4"]]},{"id":"64d77697.ebe958","type":"homekit-service","z":"cd3e6a45.2ea1f8","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Lamp Right","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":350,"y":380,"wires":[["cc86351d.b60738"]]},{"id":"2690241c.f583dc","type":"function","z":"cd3e6a45.2ea1f8","name":"PCF to HAP","func":"let HAP = { payload: {} };\n\nlet value = msg.payload.value;\nHAP.payload.On = value;\nHAP.payload.Context = 'NO_OUTPUT';\n\nreturn HAP;","outputs":1,"noerr":0,"x":170,"y":380,"wires":[["64d77697.ebe958"]]},{"id":"cc86351d.b60738","type":"function","z":"cd3e6a45.2ea1f8","name":"HAP to PCF","func":"if (msg.hap.context != 'NO_OUTPUT') {\n    msg.payload.value = msg.payload.On;\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":530,"y":380,"wires":[["8ab99f6a.d2bf4"]]},{"id":"2bd26807.c9edb8","type":"homekit-service","z":"cd3e6a45.2ea1f8","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Spots","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":410,"y":620,"wires":[["5e005834.4f3db8"]]},{"id":"6c048cce.1fbbf4","type":"function","z":"cd3e6a45.2ea1f8","name":"PCF to HAP","func":"let HAP = { payload: {} };\n\nlet value = msg.payload.value;\nHAP.payload.On = value;\nHAP.payload.Context = 'NO_OUTPUT';\n\nreturn HAP;","outputs":1,"noerr":0,"x":230,"y":620,"wires":[["2bd26807.c9edb8"]]},{"id":"5e005834.4f3db8","type":"function","z":"cd3e6a45.2ea1f8","name":"HAP to PCF","func":"if (msg.hap.context != 'NO_OUTPUT') {\n    msg.payload.value = msg.payload.On;\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":570,"y":620,"wires":[["4b6f3876.d0bc58"]]},{"id":"75a720d8.729dc","type":"homekit-service","z":"cd3e6a45.2ea1f8","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Rails","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":390,"y":880,"wires":[["5d83571.486afa8"]]},{"id":"c8586af1.951088","type":"function","z":"cd3e6a45.2ea1f8","name":"PCF to HAP","func":"let HAP = { payload: {} };\n\nlet value = msg.payload.value;\nHAP.payload.On = value;\nHAP.payload.Context = 'NO_OUTPUT';\n\nreturn HAP;","outputs":1,"noerr":0,"x":210,"y":880,"wires":[["75a720d8.729dc"]]},{"id":"5d83571.486afa8","type":"function","z":"cd3e6a45.2ea1f8","name":"HAP to PCF","func":"if (msg.hap.context != 'NO_OUTPUT') {\n    msg.payload.value = msg.payload.On;\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":550,"y":880,"wires":[["596c66fa.4a87a8"]]},{"id":"591bb7ec.4b7808","type":"homekit-service","z":"b67f0cd7.091e3","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Dehumidifier","serviceName":"Fan","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":390,"y":680,"wires":[["55fc43bf.2aa03c"]]},{"id":"ced908f7.d84858","type":"function","z":"b67f0cd7.091e3","name":"PCF to HAP","func":"let HAP = { payload: {} };\n\nlet value = msg.payload.value;\nHAP.payload.On = value;\nHAP.payload.Context = 'NO_OUTPUT';\n\nreturn HAP;","outputs":1,"noerr":0,"x":230,"y":680,"wires":[["591bb7ec.4b7808"]]},{"id":"55fc43bf.2aa03c","type":"function","z":"b67f0cd7.091e3","name":"HAP to PCF","func":"if (msg.hap.context != 'NO_OUTPUT') {\n    msg.payload.value = msg.payload.On;\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":550,"y":680,"wires":[["bd006b70.9ce868"]]},{"id":"2a3d1608.ae0dba","type":"function","z":"cd3e6a45.2ea1f8","name":"Battery to HAP","func":"let HAP = { payload: {} };\nlet data = JSON.parse(msg.payload.data);\n\nif (data.voltage) {\n    const MIN_VOLTAGE = 2700;\n    const MAX_VOLTAGE = 3300;\n    const DIFF = MAX_VOLTAGE - MIN_VOLTAGE;\n    \n    let value = data.voltage;\n    \n    if (value < MIN_VOLTAGE) {\n        value = MIN_VOLTAGE;\n    } else if (value > MAX_VOLTAGE) {\n        value = MAX_VOLTAGE;\n    }\n    \n    HAP.payload.StatusLowBattery = false;\n    \n    if (value <= MIN_VOLTAGE) {\n        HAP.payload.StatusLowBattery = true;\n    }\n    \n    let level = 100 - (((MAX_VOLTAGE - value) / DIFF) * 100);\n    \n    HAP.payload.BatteryLevel = Math.round(level);\n    \n    return HAP;\n}","outputs":1,"noerr":0,"x":360,"y":1960,"wires":[["c5d477be.54aed8","10069ad0.004a75"]]},{"id":"f9f107d4.e7efc8","type":"xiaomi-ht","z":"11e5692f.3ca837","gateway":"ff8d7056.18954","name":"Small Bedroom","sid":"158d0001fa4eb8","temperature":"{{temperature}}","humidity":"{{humidity}}","divide":true,"output":"0","x":340,"y":640,"wires":[["be64b674.5c23c8","749e2098.2d81a","d7988003.7da99"],[]]},{"id":"7d98b7cb.d046f8","type":"homekit-service","z":"11e5692f.3ca837","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Temperature","serviceName":"TemperatureSensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":610,"y":780,"wires":[[]]},{"id":"be64b674.5c23c8","type":"function","z":"11e5692f.3ca837","name":"Temperature to HAP","func":"let HAP = { payload: {} };\nlet data = JSON.parse(msg.payload.data);\n\nHAP.payload.StatusActive = true;\n\nif (data.temperature) {\n    let value = parseFloat(data.temperature / 100);\n    HAP.payload.CurrentTemperature = value;\n    \n    return HAP;\n}","outputs":1,"noerr":0,"x":340,"y":740,"wires":[["7d98b7cb.d046f8"]]},{"id":"812b8686.2ea248","type":"homekit-service","z":"11e5692f.3ca837","isParent":false,"bridge":"4a1495a0.e3283c","parentService":"7d98b7cb.d046f8","name":"Temp Battery","serviceName":"BatteryService","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":610,"y":860,"wires":[[]]},{"id":"749e2098.2d81a","type":"function","z":"11e5692f.3ca837","name":"Humidity to HAP","func":"let HAP = { payload: {} };\nlet data = JSON.parse(msg.payload.data);\n\nHAP.payload.StatusActive = true;\n\nif (data.humidity) {\n    let value = parseFloat(data.humidity / 100);\n    HAP.payload.CurrentRelativeHumidity = value;\n    \n    return HAP;\n}","outputs":1,"noerr":0,"x":330,"y":780,"wires":[["abe604bc.fbcac8"]]},{"id":"abe604bc.fbcac8","type":"homekit-service","z":"11e5692f.3ca837","isParent":true,"bridge":"4a1495a0.e3283c","parentService":"","name":"Humidity","serviceName":"HumiditySensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":600,"y":820,"wires":[[]]},{"id":"d7988003.7da99","type":"function","z":"11e5692f.3ca837","name":"Battery to HAP","func":"let HAP = { payload: {} };\nlet data = JSON.parse(msg.payload.data);\n\nif (data.voltage) {\n    const MIN_VOLTAGE = 2700;\n    const MAX_VOLTAGE = 3300;\n    const DIFF = MAX_VOLTAGE - MIN_VOLTAGE;\n    \n    let value = data.voltage;\n    \n    if (value < MIN_VOLTAGE) {\n        value = MIN_VOLTAGE;\n    } else if (value > MAX_VOLTAGE) {\n        value = MAX_VOLTAGE;\n    }\n    \n    HAP.payload.StatusLowBattery = false;\n    \n    if (value <= MIN_VOLTAGE) {\n        HAP.payload.StatusLowBattery = true;\n    }\n    \n    let level = 100 - (((MAX_VOLTAGE - value) / DIFF) * 100);\n    \n    HAP.payload.BatteryLevel = Math.round(level);\n    \n    return HAP;\n}","outputs":1,"noerr":0,"x":320,"y":820,"wires":[["812b8686.2ea248","7eabcbf3.29ec34"]]},{"id":"7eabcbf3.29ec34","type":"homekit-service","z":"11e5692f.3ca837","isParent":false,"bridge":"4a1495a0.e3283c","parentService":"abe604bc.fbcac8","name":"Humidity Battery","serviceName":"BatteryService","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":630,"y":900,"wires":[[]]},{"id":"d09b56f3.7ff7a8","type":"link in","z":"11e5692f.3ca837","name":"XiaomiHub","links":["7b15f4a2.a586fc"],"x":195,"y":640,"wires":[["f9f107d4.e7efc8"]]}]